<div id="register-step1-container" class="p-24">

    <h1 *ngIf="message">{{message}}</h1>

    <!-- PROFILES -->
    <ng-container *ngIf="profile">
        <ng-container *ngFor="let item of profile.data">
            <ng-container *ngTemplateOutlet="template; context: {$implicit: item}"></ng-container>
        </ng-container>
    </ng-container>
    <!-- / PROFILES  -->

    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button type="button" color="accent" class="mr-12" (click)="quit()">
            Quit
        </button>

        <button mat-raised-button type="button" color="accent" (click)="save()">
            Save & Continue
        </button>
    </div>
</div>

<!-- TEMPLATE -->
<ng-template #template let-item>
    <div *ngIf="item.cname" class="profile-box info-box" fxLayout="column">
        <header class="mat-accent-bg">
            <div class="title">{{item.cname}}</div>
        </header>

        <div class="content">
            <ng-container *ngFor="let item of item.elements">
                <ng-container *ngTemplateOutlet="template; context: {$implicit: item}"></ng-container>
            </ng-container>
        </div>
    </div>

    <div *ngIf="item.ename" class="info-line">
        <ng-container *ngIf="item.ename.indexOf('id') == -1">
            <div class="title">
                <span *ngIf="item.visibility == 'required'" class="required">*</span>
                {{item.ename}}
            </div>
            <div class="info">
                <ng-container *ngIf="item.etype == 'list'">
                    <app-register-profile-edit-list-value [userId]="profile.id"
                        [element]="item" fxFlex="0 1 auto">
                    </app-register-profile-edit-list-value>
                </ng-container>

                <ng-container *ngIf="item.etype == 'listm'">
                    <app-register-profile-edit-listm-value [userId]="profile.id"
                        [element]="item" fxFlex="0 1 auto">
                    </app-register-profile-edit-listm-value>
                </ng-container>

                <ng-container *ngIf="!['list', 'listm'].includes(item.etype)">
                    <app-register-profile-edit-date *ngIf="item.ename == 'Date of Birth'"
                        [userId]="profile.id" [element]="item" [field]="'data'" fxFlex="0 1 auto">
                    </app-register-profile-edit-date>

                    <app-register-profile-edit-text-value *ngIf="item.ename != 'Date of Birth'"
                        [userId]="profile.id" [element]="item" fxFlex="0 1 auto">
                    </app-register-profile-edit-text-value>
                </ng-container>

            </div>
        </ng-container>
    </div>
</ng-template>
<!-- / TEMPLATE -->
