<div class="dialog-content-wrapper" *ngIf="post">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">View post</span>
            <button mat-button class="mat-icon-button" (click)="closeDialog()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div class="timeline-item">

            <header fxLayout="row" fxLayoutAlign="space-between start">
                <div class="user" fxLayout="row" fxLayoutAlign="start center">
                    <img class="avatar" [src]="post.ppic_a">

                    <div fxLayout="column">
                        <div class="title">
                            <span class="username">{{post.name}}</span>
                        </div>
                        <div class="time">{{post.created_at | date: 'medium'}}</div>
                    </div>
                </div>

                <div *ngIf="post.pin || post.approve || post.edit || post.delete">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">

                        <button mat-menu-item *ngIf="post.pin" (click)="pinPost()">
                            <mat-icon>attach_file</mat-icon>
                            <span>{{post.pinned === 0 ? 'Pin' : 'Unpin'}}</span>
                        </button>

                        <button mat-menu-item *ngIf="post.approve" (click)="approvePost()">
                            <mat-icon>check</mat-icon>
                            <span>{{post.approved === 0 ? 'Approve' : 'Unapprove'}}</span>
                        </button>

                        <button mat-menu-item *ngIf="post.edit" (click)="editPost()">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>

                        <button mat-menu-item *ngIf="post.delete" (click)="deletePost()">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>

                    </mat-menu>
                </div>
            </header>

            <div class="content">
                <div *ngIf="post.content" class="message">
                    {{post.content}}
                </div>

                <div *ngIf="post.thumb" class="media">
                    <ng-container [ngSwitch]="getFileType(post.link)">
                        <video *ngSwitchCase="'video'" controls class="w-100-p">
                            <source [src]="post.link">
                        </video>

                        <a [href]="post.link" *ngSwitchCase="'other'" target="blank">
                            <img [src]="post.thumb" />
                        </a>
                    </ng-container>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-button class="like-button" (click)="likePost(post)">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16" [class.liked]="post.liked">favorite</mat-icon>
                            <span>Like</span>&nbsp;
                            <span>({{post.likes}})</span>
                        </span>
                    </button>

                    <button mat-button class="comment-button" (click)="initComments()">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16">comment</mat-icon>
                            <span>comments</span>&nbsp;
                            <span>({{post.comments}})</span>
                        </span>
                    </button>
                </div>
            </div>

            <footer fxLayout="column" fxLayoutAlign="start start" *ngIf="post.isCommentsShow">
                <div class="reply" fxLayout="row" fxFlexFill>
                    <img [src]="user.ppic_a" class="avatar" />

                    <form fxFlex>
                        <textarea name="comment" placeholder="Add a comment..." [(ngModel)]="post.newComment" (keydown.enter)="addComment(post)"></textarea>
                        <div class="hint-text">Press Enter to post</div>
                    </form>
                </div>

                <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of post.remarks">
                    <img [src]="comment.ppic_a" class="avatar" />

                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span class="username">{{comment.name}}</span>
                            <span class="time">{{comment.created_at | date: 'medium'}}</span>
                        </div>
                        <div class="message">
                            {{comment.content}}
                        </div>
                        <div class="actions" fxLayout="row" fxLayoutAlign="space-between center">
                            <button mat-button class="like-button" (click)="likeComment(comment)">
                                <span fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="s-16" [class.liked]="comment.liked">favorite</mat-icon>
                                    <span>Like</span>&nbsp;
                                    <span>({{comment.likes}})</span>
                                </span>
                            </button>
                        </div>
                    </div>

                    <div fxFlex="0 1 auto" *ngIf="comment.approve || comment.edit || comment.delete">
                        <button mat-icon-button [matMenuTriggerFor]="commentMenu">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #commentMenu="matMenu">

                            <button mat-menu-item *ngIf="comment.approve" (click)="approveComment(comment)">
                                <mat-icon>check</mat-icon>
                                <span>{{comment.approved === 0 ? 'Approve' : 'Unapprove'}}</span>
                            </button>

                            <button mat-menu-item *ngIf="comment.edit" (click)="editComment(comment)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>

                            <button mat-menu-item *ngIf="comment.delete" (click)="deleteComment(comment)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>

                        </mat-menu>
                    </div>
                </div>

                <a *ngIf="(post.comments > post.remarks.length) && post.remarks && !post.commentsLoading" class="view-more-comments" (click)="getComments(post)">
                    View more comments
                </a>

                <div fxLayout="row" fxLayoutAlign="center" class="w-100-p" *ngIf="post.commentsLoading">
                    <img src="assets/images/etc/spinner.gif" class="spinner" />
                </div>

            </footer>
        </div>
    </div>
</div>
