@import "src/app/core/scss/fuse";

.add-user-to-group-dialog {

  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint-up('xs') {
    width: 800px;
  }

  .dialog-content-wrapper {
    max-height: 85vh;
  }

  fieldset {
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    margin-bottom: 16px;

    legend {
      padding: 0 4px;
    }

  }
}
