<div class="dialog-content-wrapper">
  <div mat-dialog-content>
    <fieldset class="mb-b" *ngIf="false">
      <legend><strong>Add {{data.user.fname}} {{data.user.lname}} to all shifts</strong></legend>
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="mr-12">Role:</span>
        <mat-form-field floatLabel="never" class="mr-24">
          <mat-select [(ngModel)]="selectedRole">
            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button class="grey-300-bg" mat-icon-button matTooltip="Invite" (click)="doToAllShifts(role, 'invite')">
            <mat-icon>group_add</mat-icon>
          </button>
          <button class="grey-300-bg" mat-icon-button matTooltip="Select" (click)="doToAllShifts(role, 'select')">
            <mat-icon>add</mat-icon>
          </button>
          <button class="grey-300-bg" mat-icon-button matTooltip="Standby" (click)="doToAllShifts(role, 'standby')">
            <mat-icon>flag</mat-icon>
          </button>
          <button class="grey-300-bg" mat-icon-button matTooltip="Apply" (click)="doToAllShifts(role, 'apply')">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </div>
    </fieldset>
    <fieldset *ngFor="let shift of data.shifts" class="mb-8">
      <legend><strong>{{shift.date}}</strong> {{shift.title}}</legend>
      <div>
        <table class="w-100-p">
          <thead>
          <th>Role</th>
          <th>Time</th>
          <th>Required</th>
          <th>Selected</th>
          <th>Status</th>
          <th width="175px">Assign</th>
          </thead>
          <tbody>
          <tr *ngFor="let role of shift.roles">
            <td>{{role.rname}}</td>
            <td class="text-center">{{role.times}}</td>
            <td class="text-center">{{role.num_required}}</td>
            <td class="text-center">{{role.num_selected}}</td>
            <td class="text-center">
              <span class="mr-4" [class]="role.available ? 'red-fg' : 'green-fg'">{{role.available ? role.available : 'Available'}}</span>
              <span [class.black-fg]="role.warning">{{role.warning}}</span>
            </td>
            <td class="text-right">
              <button class="grey-300-bg" mat-icon-button matTooltip="Invite" (click)="doAction(shift, role, 'invite')">
                <mat-icon>group_add</mat-icon>
              </button>
              <button class="grey-300-bg" mat-icon-button matTooltip="Select" (click)="doAction(shift, role, 'select')">
                <mat-icon>add</mat-icon>
              </button>
              <button class="grey-300-bg" mat-icon-button matTooltip="Standby" (click)="doAction(shift, role, 'standby')">
                <mat-icon>flag</mat-icon>
              </button>
              <button class="grey-300-bg" mat-icon-button matTooltip="Apply" (click)="doAction(shift, role, 'apply')">
                <mat-icon>done</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
  </div>
</div>
