<div id="chat" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-sidenav-container>

                <!-- LEFT SIDENAV -->
                <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                             fuseMatSidenavHelper="chat-left-sidenav" mat-is-locked-open="gt-md">
                    <fuse-chat-left-sidenav 
                        [users]="users"
                        [threads]="threads"
                        (fetchChat)="fetchChatByThread($event)"
                        (searchUsers)="searchUsers($event)"
                        (addContact)="addContact($event)"></fuse-chat-left-sidenav>
                </mat-sidenav>
                <!-- / LEFT SIDENAV -->

                <!-- CONTENT -->
                <!-- <fuse-chat-start *ngIf="!selectedChat"></fuse-chat-start> -->
                <mat-sidenav-content>
                  <fuse-chat-view
                    *ngIf="selectedChat" 
                    [messages]="selectedChat" 
                    [thread]="selectedThread" 
                    (sendMessage)="sendMessage($event)"
                    (updateReadStatus)="updateReadStatus($event)"
                    (addUser)="triggerAddUserModal($event)"></fuse-chat-view>
                </mat-sidenav-content>
                <!-- / CONTENT -->

            </mat-sidenav-container>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
