:host {

    .new-option {
        md-select,
        .mat-select-placeholder,
        .mat-select-trigger {
            color:white !important;
        }

        .new-option-form {
            padding: 8px;
            height: 54px;

            > input {
                height: 100%;
                padding: 0 10px;
            }          
        }
    }
}
