<mat-form-field fxFlex="100">

    <mat-chip-list #chipList>
        <mat-chip  *ngFor="let tag of _value" (remove)="remove(tag)">
            {{tag[labelBy]}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #chipInput
               ngModel
               debounce
               [delay]="300"
               [placeholder]="placeholder"
               [matChipInputFor]="chipList"
               [matChipInputAddOnBlur]="false"
               (matChipInputTokenEnd)="addNew($event)"
               [matAutocomplete]="auto"
               [disabled]="disabled"
               (onValueChange)="onkeyUpChange($event)">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="add($event)">
        <mat-option *ngFor="let tag of sourceFiltered()" [value]="tag">
            <span>{{tag[labelBy]}}</span>
        </mat-option>
    </mat-autocomplete>

</mat-form-field>
