@import "src/app/core/scss/fuse";

#edit-shift-container {

    .shift-list {

        .content {

            .shift {
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                padding: 4px 12px;
                
                &:last-child {
                    border-bottom: unset;
                }
    
                &.odd {
                    background-color: #eeeeee;
                }
                
                &.even {
                    background-color: #ffffff;
                }
            }
        }

    }

    .box {
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                    position: relative;
                    padding-left: 8px;

                    span.required {
                        color: #f44336;
                        position: absolute;
                        left: -2px;
                    }
                }

                .info {
                    padding-left: 8px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

