<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div class="header mat-accent-bg" ngClass.gt-xs="p-24" fxLayout="column" fxLayoutAlign="space-between start">

                <!-- TOOLBAR -->
                <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="end start">
                    <div fxLayout.gt-xs="row" fxLayoutAlign="start" fxLayoutGap="8px" class="search-bar">
                        <mat-form-field class="date-picker">
                            <input matInput [matDatepicker]="fromPicker" placeholder="From" [value]="period.from" (dateChange)="changeDate($event, 'from')">
                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                            <mat-datepicker #fromPicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="date-picker">
                            <input matInput [matDatepicker]="toPicker" placeholder="To" [value]="period.to" (dateChange)="changeDate($event, 'to')">
                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                            <mat-datepicker #toPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <!-- / TOOLBAR -->

                <!-- BREADCRUMB -->
                <div class="breadcrumb text-truncate h1 pl-72" fxLayout="row" fxLayoutAlign="start center" *fuseIfOnDom
                    [@animate]="{value:'*',params:{x:'50px'}}">
                    <div *ngFor="let folder of folders; first as isFirst; last as isLast" fxLayout="row" fxLayoutAlign="start center">
                        <span>{{isFirst ? 'Files' : folder.name}}</span>
                        <mat-icon *ngIf="!isLast" class="separator">chevron_right</mat-icon>
                    </div>
                </div>
                <!-- / BREADCRUMB -->

                <!-- ADD FILE BUTTON -->
                <div class="file-uploader" *ngIf="showFileUploader()">
                    <input hidden type="file" #fileInput multiple (change)="onUpload($event)" />
                    <button mat-fab class="add-file-button mat-warn" (click)="onUploaderClick()" aria-label="Add file"
                        *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <!-- / ADD FILE BUTTON -->

                <div class="selectors" *ngIf="selectedFolder.folder == 'report' || selectedFolder.folder == 'tracking_option'">
                    <button mat-icon-button matTooltip="Select all items" (click)="selectAll()">
                        <mat-icon>done_all</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Toggle selection" (click)="toggleSelection()">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content mat-white-bg" #scrollbar="fusePerfectScrollbar" fusePerfectScrollbar>
                <app-reports-uploads-file-list #fileList [period]="period"></app-reports-uploads-file-list>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav right-sidenav" align="end" opened="true" mode="side" #detailSideNav
            fuseMatSidenavHelper="file-manager-right-sidenav" mat-is-locked-open="gt-md">
            <app-reports-uploads-details-sidenav (onFileDeleted)="deleteFile($event)"></app-reports-uploads-details-sidenav>
        </mat-sidenav>
        <!-- / SIDENAV -->

    </mat-sidenav-container>
</div>
