@import "src/app/core/scss/fuse";

.staff-shift-check-in-out-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 450px;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
    }

    .h-320 {
        height: 320px !important;
        min-height: 320px !important;
        max-height: 320px !important;
    }
}
