<div class="dialog-content-wrapper">

    <h1 mat-dialog-title>Request a replacement</h1>
    <form [formGroup]="form">

        <div mat-dialog-content>
            <p *ngIf="settings.shift_msg_replacement_request !== ''">
                {{settings.shift_msg_replacement_request}}
            </p>
            <mat-form-field floatPlaceholder="never" class="w-100-p">
                <textarea matInput formControlName="reason"
                    placeholder="Please enter a reason for your replacement request"></textarea>
                <mat-error *ngIf="formErrors.reason.required">
                    Reason is required
                </mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="saveForm()" cdkFocusInitial class="mat-accent-bg">Request replacement</button>
            <button mat-button mat-dialog-close class="mat-primary-50-bg">Cancel</button>
        </div>
    </form>

</div>
