:host {

    #tracking {
        .header {
            position: relative;
        }
    }

    .inner-sidenav {
        height: 100%;
    }

    .mat-sidenav-content {
        margin-left: 220px;
    }
}