<div id="admin-shift-edit-address">
    <div *ngIf="!formActive"  (click)="openForm()" class="text-field" [class.disabled]="shift.editable !== 1">
        <div class="info" matTooltip="Address" fxLayoutAlign="start center">
            <mat-icon class="mr-8">location_on</mat-icon>
            {{display()}}
        </div>
    </div>

    <form [formGroup]="form" fxLayout="row" *ngIf="formActive" fxLayoutAlign="start center">
        <mat-icon class="mr-8">location_on</mat-icon>
        <mat-form-field class="address-width">
            <input matInput type="text" #addressInput fxFlex required formControlName="address">
        </mat-form-field>

        <button mat-icon-button fxFlex="0 1 auto" (click)="saveForm()">
            <mat-icon>check</mat-icon>
        </button>

        <button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </form>

</div>