#selected-staff-billrate {

    .text-field {

        &.disabled {
            pointer-events: none;
            .info {
                border-bottom: none;
            }
        }

        .info {
            border-bottom: dashed 1px #d0d0d0;
            &:hover {
                cursor: text;
            }
        }
    }

    .billrate-width {
        width: 50px;
    }
}
