<div class="categories-wrapper">

    <!-- HEADER -->
    <div class="header p-16 pb-0">

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap class="action-btns">

            <!-- SEARCH -->
            <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon>search</mat-icon>
                </label>
                <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
                    <input matInput id="search" #searchInput placeholder="Search for anything" (keyup)='updateFilter(searchInput.value)'>
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <!-- NEW CATEGORY BUTTON-->
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" class="mb-16">
                <app-settings-work-areas-add-category (onCategoryAdd)="onCategoryAdd($event)">
                </app-settings-work-areas-add-category>
            </div>
            <!-- / NEW CATEGORY BUTTON-->

        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-16 pt-4 ps ps--active-y">

        <!-- TABLE -->
        <div *ngIf="filteredCategories" class="categories-table">

            <ngx-datatable 
                #table 
                class="material striped" 
                [rows]="filteredCategories" 
                [loadingIndicator]="loadingIndicator" 
                [columnMode]="'force'"
                [headerHeight]="48" 
                [footerHeight]="56" 
                [rowHeight]="'auto'" 
                [scrollbarH]="true" 
                [selectionType]="'checkbox'"
                [selectAllRowsOnPage]="true" 
                [selected]="selectedCategories" 
                [reorderable]="reorderable" 
                [limit]="5" 
                (select)="onSelect($event)"
                (activate)="onActivate($event)">

                    <ngx-datatable-column 
                        [width]="350"
                        name="Name" 
                        prop="cname">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <app-settings-work-areas-edit-cat-name fxFlex="1 0 auto" [category]="row">
                                </app-settings-work-areas-edit-cat-name>
                            </ng-template>
                    </ngx-datatable-column>
 
                    <ngx-datatable-column 
                        [width]="100" 
                        [sortable]="false" 
                        [resizeable]="false" 
                        [draggable]="false" 
                        [canAutoResize]="false">

                            <ng-template let-row="row" ngx-datatable-cell-template>

                                <div fxFlex="0 1 auto">
                                    <button mat-icon-button (click)="onRemoveCategory(row)">
                                        <mat-icon class="mat-primary-50-bg">delete</mat-icon>
                                    </button>
                                </div>

                            </ng-template>

                    </ngx-datatable-column>

            </ngx-datatable>

        </div>
        <!-- / TABLE -->

    </div>
    <!-- CONTENT -->

</div>