<form #passwordForm="ngForm" (ngSubmit)="doSubmit()" novalidate fxLayout="column">
    <mat-form-field>
        <input matInput type="password" #password="ngModel" name="password" [(ngModel)]="data.password" fxFlex placeholder="Write a Password" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" #password="ngModel" name="password_confirm" [(ngModel)]="data.passwordConfirm" fxFlex placeholder="Write a Password Again" required>
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent" [disabled]="passwordForm.invalid || data.password !== data.passwordConfirm">
      Save
    </button>
</form>
