<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar *ngIf="userInfo">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between start">

        <div class="user-info" [ngClass.gt-xs]="'mt-48'" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" [src]="getAvatar(userInfo)">
            <div class="user-info" fxLayout="column">
                <div class="name">
                    {{userInfo.fname}} {{userInfo.lname}}
                </div>
                <div class="ml-8 white-fg" style="text-transform:capitalize;">
                    {{userInfo.age == "?" ? "" : userInfo.age}} {{userInfo.sex ? userInfo.sex: ""}} {{userInfo.city ? "&sdot; "+userInfo.city : ""}}
                    {{userInfo.state ? ", "+userInfo.state : ""}}
                </div>
                <div class="ml-8 light-blue-fg">
                    {{userInfo.email}}
                </div>
                <div class="ml-8 white-fg">
                    {{userInfo.mob}}
                </div>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start end">
            <div fxLayout="row" fxLayoutAlign="start center" [ngClass.gt-xs]="'mt-24'">
                <button *ngIf="isFavStatusShow" mat-icon-button (click)="toggleFav()" matTooltip="Favourite">
                    <mat-icon [ngClass]="{'white-fg': userInfo.fav === 0, 'amber-600-fg': userInfo.fav === 1}">star</mat-icon>
                </button>

                <app-edit-user-status [user]="userInfo" class="ml-8 white-fg"></app-edit-user-status>
            </div>
            <div *ngIf="isApproveRejectShow" fxLayout="row" fxLayoutAlign="start center" [ngClass.gt-xs]="'mt-24'">
                <button mat-icon-button (click)="confirmApprove()" matTooltip="Approve">
                    <mat-icon class="green-fg">check</mat-icon>
                </button>
                <button mat-icon-button (click)="confirmReject()" matTooltip="Reject">
                    <mat-icon class="red-fg">block</mat-icon>
                </button>
            </div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="About">
                <app-users-profile-about [userInfo]="userInfo" [currentUser]="currentUser" [ratings]="ratings" [settings]="settings"></app-users-profile-about>
            </mat-tab>

            <mat-tab label="Skills & Qualifications" *ngIf="isSkillsShow">
                <app-users-profile-attributes [userInfo]="userInfo" [currentUser]="currentUser" [settings]="settings"></app-users-profile-attributes>
            </mat-tab>

            <mat-tab label="Photos">
                <app-users-profile-photo [userInfo]="userInfo" [currentUser]="currentUser" [settings]="settings" (onAvatarChanged)="onAvatarChanged($event)">
                </app-users-profile-photo>
            </mat-tab>

            <mat-tab label="Videos" *ngIf="settings.profile_video_enable === '1'">
                <app-users-profile-video [userInfo]="userInfo" [currentUser]="currentUser" [settings]="settings"></app-users-profile-video>
            </mat-tab>

            <mat-tab label="Documents">
                <app-users-profile-document [userInfo]="userInfo" [currentUser]="currentUser" [settings]="settings"></app-users-profile-document>
            </mat-tab>

            <mat-tab label="Work Areas" *ngIf="isWorkAreasShow">
                <app-users-profile-workareas [userInfo]="userInfo" [currentUser]="currentUser" [settings]="settings"></app-users-profile-workareas>
            </mat-tab>

            <mat-tab label="Unavailability" *ngIf="userInfo.lvl === 'staff'">
                <app-users-profile-unavailability [userInfo]="userInfo" [currentUser]="currentUser">
                </app-users-profile-unavailability>
            </mat-tab>

            <mat-tab label="Settings" *ngIf="isSettingsShow">
                <app-users-profile-settings [userInfo]="userInfo" [currentUser]="currentUser" [settings]="settings"></app-users-profile-settings>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>