@import "~app/core/scss/fuse";

#profile {

  &.page-layout {
    overflow: unset !important;
    width: inherit;

    @include media-breakpoint('xs') {
      margin: -1em 0;
    }
    @include media-breakpoint-up('xs') {
      margin: -1em;
    }
  }

  .header {
    height: auto !important;
    min-height: 200px !important;
    background: url(/assets/images/backgrounds/dark-material-bg.jpg) 0 45%/cover no-repeat;

    @include media-breakpoint('xs') {
      max-height: unset;
    }

    .profile-image {
      cursor: pointer;
    }

    .user-info {
      mat-icon {
        color: #9e9e9e !important;

        &:hover {
          color: white !important;
        }
      }

      .action {
      }
    }

    .name {
      font-size: 34px;
      color: #FFFFFF;
    }

    .actions {

      button {
        text-transform: none;
        padding: 0 16px;
        height: 32px;
        line-height: 32px;
        margin: 0 0 0 8px;
      }
    }
  }

  .content {
    flex: 1;

    mat-tab-group {
      height: 100%;

      .mat-tab-body-wrapper {
        flex-grow: 1;
      }
    }
  }
}
