@import "src/app/core/scss/fuse";

#profile {

    &.page-layout {
        overflow: unset !important;
        margin: -1em;
        width: inherit;
    }

    .header {
        height: auto !important;
        min-height: 200px !important;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            margin-right: 24px;
            cursor: pointer;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .user-info {
            mat-icon {
                color: #9e9e9e !important;
                
                &:hover {
                    color: white !important;
                }
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}
