<div fxLayout="column" class="p-24">

    <!-- CLIENT_SHIFT_CREATE -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow client users to create bookings
            </div>
        </div>
    </div>
    <!-- / CLIENT_SHIFT_CREATE -->

    <!-- CLIENT_SHIFT_NOTES -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow client users to see shift notes
            </div>
        </div>
    </div>
    <!-- / CLIENT_SHIFT_NOTES -->

    <!-- CLIENT_STAFF_NAMES -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow client users to see staff full names
            </div>
        </div>
    </div>
    <!-- / CLIENT_STAFF_NAMES -->

    <!-- CLIENT_STAFF_CHAT -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow client users to chat to staff
            </div>
        </div>
    </div>
    <!-- / CLIENT_STAFF_CHAT -->

    <!-- CLIENT_STAFF_EMAIL -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow client users to see staff email addresses
            </div>
        </div>
    </div>
    <!-- / CLIENT_STAFF_EMAIL -->

    <!-- CLIENT_STAFF_MOB -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow client users to see staff mobile numbers
            </div>
        </div>
    </div>
    <!-- / CLIENT_STAFF_MOB -->

</div>
