.list-element {
    &.disabled {
        pointer-events: none;
        border-bottom: none;
    }
    
    .element-value {
        border-bottom: dashed 1px #d0d0d0;
        & :hover {
            cursor: text;
        }
    }
}
