<div>

    <div *ngIf="!formActive" class="text-field">
        <span class="info" (click)="openForm()" matTooltip="Item Name">{{item.title}}</span>
    </div>

    <form *ngIf="formActive" [formGroup]="form" fxLayout="row" fxLayoutAlign="start center">

        <mat-form-field class="item-name-width mr-4">
            <input matInput formControlName="item_name" required>
        </mat-form-field>


        <button mat-icon-button fxFlex="0 1 auto" (click)="saveForm()">
            <mat-icon>check</mat-icon>
        </button>

        <button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()">
            <mat-icon>close</mat-icon>
        </button>
    </form>
</div>