@import "src/app/core/scss/fuse";

    #admin-shift-staff {
        .staff-content {

            .staff-box {

                header {
                    padding: 8px 16px;
                }
            }
        }

        .staff-sidebar {
            padding-left: 32px;

            @include media-breakpoint('sm') {
                padding: 8px
            }

            .admin-notes {

                .see-all-button {
                    &:hover {
                        cursor: pointer;
                    }

                    &.disabled {
                        pointer-events: none;
                    }
                }

                .content {
                    .notes {

                        .note {
                            padding: 16px 0;
                            width: 100%;
                            margin-bottom: 4px;

                            .avatar {
                                margin-right: 16px;
                            }

                            .message {
                                font-weight: 500;
                            }

                            .time {
                            }
                        }
                    }
                }
            }
        }        
    }

    // shift boxes
    .staff-box {
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                    position: relative;
                    padding-left: 8px;

                    span.required {
                        color: #f44336;
                        position: absolute;
                        left: -2px;
                    }
                }

                .info {
                    padding-left: 8px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }