<div id="admin-shift-staff" class="pt-24" fxLayout="row" fxLayoutWrap>
    <div class="staff-content" fxLayout="column" [fxFlex]="(currentUser.lvl == 'owner' || currentUser.lvl == 'admin') ? 65 : 100">
    
        <div *ngFor="let role of roles" class="staff-box info-box general" fxLayout="column">
    
            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">{{role.rname}}</div>

                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="more-vert">
                        <mat-icon class="material-icons">more_horiz</mat-icon>
                    </button>
                    
                    <mat-menu #menu="matMenu">
                    
                        <button mat-menu-item (click)="onAddStaffToRole(role)">
                            <span>Select staff</span>
                        </button>
                    
                    </mat-menu>
                </div>
            </header>
    
            <div class="content">
                <mat-tab-group dynamicHeight="true" [(selectedIndex)]="role.section"
                    (selectedTabChange)="onSelectedTabChange(role, $event)">
                
                    <mat-tab label="Selected">
                        <app-admin-shift-staff-selected [(staffs)]="role.role_staff" 
                            (onStaffCountChanged)="updateStaffsCount(role.id)"></app-admin-shift-staff-selected>
                    </mat-tab>
                
                    <mat-tab label="Standby">
                        <app-admin-shift-staff-standby [(staffs)]="role.standby_staffs"
                             (onStaffCountChanged)="updateStaffsCount(role.id)"></app-admin-shift-staff-standby>
                    </mat-tab>
                
                    <mat-tab label="Applicants">
                        <app-admin-shift-staff-applicants [(staffs)]="role.applicants"
                             (onStaffCountChanged)="updateStaffsCount(role.id)"></app-admin-shift-staff-applicants>
                    </mat-tab>

                    <mat-tab label="NA">
                        <app-admin-shift-staff-na [(staffs)]="role.na"
                             (onStaffCountChanged)="updateStaffsCount(role.id)"></app-admin-shift-staff-na>
                    </mat-tab>
                    
                </mat-tab-group>
    
            </div>
    
        </div>
    
    </div>
    
    <div class="staff-sidebar" fxLayout="column" fxFlex="35" *ngIf="currentUser.lvl == 'owner' || currentUser.lvl == 'admin'">
    
        <div class="staff-box admin-notes" fxLayout="column">
    
            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Admin Notes</div>
                <div class="more secondary-text">
                    <span (click)="onSeeAllAdminNotes()" class="see-all-button" [class.disabled]="isSeeAllAdminNotes">See All</span>
                </div>
            </header>
    
            <div class="content">
    
                <!-- ADMIN NOTE FORM -->
                <form [formGroup]="adminNoteForm" novalidate fxLayout="column">
    
                    <mat-form-field class="mb-4" floatPlaceholder="never">
                        <textarea matInput placeholder="Write an admin note.." formControlName="note" #adminNoteInput></textarea>
                    </mat-form-field>
    
                    <div class="mb-4" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="canSavePost">
                        <mat-form-field>
                            <mat-select formControlName="type" placeholder="Note Type">
                                <mat-option [value]="'info'">
                                    Info
                                </mat-option>
                                <mat-option [value]="'interview'">
                                    Interview
                                </mat-option>
                                <mat-option [value]="'system'">
                                    System
                                </mat-option>
                                <mat-option [value]="'positive'">
                                    Positive
                                </mat-option>
                                <mat-option [value]="'negative'">
                                    Negative
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <button mat-raised-button (click)="onPostAdminNote()" class="save-button mat-accent" [disabled]="adminNoteForm.invalid" aria-label="POST">
                            POST
                        </button>
                    </div>
    
                    <div class="notes">
                        <div class="note" fxLayout="row" fxLayoutAlign="start center" *ngFor="let note of adminNotes">
                            <img [src]="note.creator_thumbnail" class="avatar" alt="{{note.creator_name}}" />
    
                            <div fxLayout="column">
    
                                <div>
                                    <div class="username">{{note.creator_name}}</div>
                                    <div>
                                        <strong class="mr-8">{{note.type}}</strong>
                                        <span class="message"> {{note.note}}</span>
                                    </div>
                                </div>
    
                                <div>
                                    <span class="time secondary-text mr-8">{{note.created_at | date: 'medium'}}</span>
                                    <span class="delete-note" (click)="onDeleteAdminNote(note)">Delete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- / ADMIN NOTE FORM -->
    
            </div>
    
        </div>
    
    </div>
</div>