<div class="settings-workarea-wrapper">

    <!-- HEADER -->
    <div class="header p-16 pb-0">

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap class="action-btns">

            <!-- SEARCH -->
            <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon>search</mat-icon>
                </label>
                <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
                    <input matInput id="search" #searchInput placeholder="Search for anything" (keyup)='updateFilter(searchInput.value)'>
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <!-- NEW WORKAREA BUTTON-->
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" class="mb-16">
                <app-settings-work-areas-add (onWorkAreaAdd)="onWorkAreaAdd($event)">
                </app-settings-work-areas-add>
            </div>
            <!-- / NEW WORKAREA BUTTON-->

        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-16 pt-4 ps ps--active-y">

        <!-- TABLE -->
        <div *ngIf="filteredWorkAreas" class="workareas-table">

            <ngx-datatable 
                #table 
                class="material striped" 
                [rows]="filteredWorkAreas" 
                [loadingIndicator]="loadingIndicator" 
                [columnMode]="'force'"
                [headerHeight]="48" 
                [footerHeight]="56" 
                [rowHeight]="'auto'" 
                [scrollbarH]="true" 
                [selectionType]="'checkbox'"
                [selectAllRowsOnPage]="true" 
                [selected]="selectedWorkAreas" 
                [reorderable]="reorderable" 
                [limit]="5" 
                (select)="onSelect($event)"
                (activate)="onActivate($event)">

                    <ngx-datatable-column name="Name" prop="aname">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <app-settings-work-areas-edit-name fxFlex="1 0 auto" [element]="row">
                            </app-settings-work-areas-edit-name>

                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Category" prop="work_area_cat_id">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <app-settings-work-areas-edit-category fxFlex="1 0 auto" [element]="row" [categories]="categories">
                            </app-settings-work-areas-edit-category>
                    
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Timezone" prop="php_tz">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <app-settings-work-areas-edit-timezone fxFlex="1 0 auto" [element]="row" [timezones]="timezones">
                            </app-settings-work-areas-edit-timezone>
                    
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column 
                        [width]="100" 
                        [sortable]="false" 
                        [resizeable]="false" 
                        [draggable]="false" 
                        [canAutoResize]="false">

                            <ng-template let-row="row" ngx-datatable-cell-template>

                                <div fxFlex="0 1 auto">
                                    <!-- <button mat-icon-button (click)="onRemoveWorkArea(row)">
                                        <mat-icon class="mat-primary-50-bg">delete</mat-icon>
                                    </button> -->

                                    <button mat-icon-button [matMenuTriggerFor]="menu" class="more-vert">
                                        <mat-icon class="material-icons">more_vert</mat-icon>
                                    </button>
                                    
                                    <mat-menu #menu>

                                        <button mat-menu-item (click)="onEditWorkArea(row)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit</span>
                                        </button>

                                        <button mat-menu-item (click)="onRemoveWorkArea(row)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Remove</span>
                                        </button>

                                    </mat-menu>                                    
                                </div>

                            </ng-template>

                    </ngx-datatable-column>

            </ngx-datatable>

        </div>
        <!-- / TABLE -->


    </div>
    <!-- CONTENT -->
</div>