<div fxLayout="column">
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <span>Timezone</span>
            <mat-form-field class="ml-16">
                <mat-select [value]="timezone" (valueChange)="onTimezoneChange($event)">
                    <mat-option *ngFor="let item of timezones" [value]="item.value">{{item.label}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <!-- ADMIN_CHAT_DISCOVERABLE -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userOptions?.admin_chat_discoverable?.set" (change)="toggleOption('admin_chat_discoverable', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow staff to find and message you
            </div>
        </div>
    </div>
    <!-- / ADMIN_CHAT_DISCOVERABLE -->

    <!-- ADMIN_REPLACEMENT_REQUESTS -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userOptions?.admin_replacement_requests?.set" (change)="toggleOption('admin_replacement_requests', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Receive an email anytime someone requests a replacement for a shift, even if you are not an assigned manager of the shift
            </div>
        </div>
    </div>
    <!-- / ADMIN_REPLACEMENT_REQUESTS -->

</div>
