<div fxLayout="row" fxLayoutAlign="start center" *ngIf="!formActive" fxLayoutGap="16px" class="item">
    <div class="name" fxFlex="200px">{{status.name}}</div>
    <div class="color" fxFlex="150px" [style.background]="status.color">{{status.color}}</div>
    <div fxLayout="row">
        <button mat-icon-button (click)="openForm()"
            [disabled]="status.editable !== 1 && status.color_editable !== 1">
            <mat-icon class="s-20">edit</mat-icon>
        </button>

        <button mat-icon-button (click)="delete()" [disabled]="status.deletable !== 1">
            <mat-icon class="s-20">delete</mat-icon>
        </button>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" *ngIf="formActive">
    <mat-form-field floatPlaceholder="never" class="name" fxFlex="200px">
        <input matInput [(ngModel)]="form.sname" #nameInput placeholder="Write a status name" required
            [disabled]="form.editable !== 1">
    </mat-form-field>

    <div class="color" fxFlex="150px" [style.background]="form.color">
        <input [(colorPicker)]="form.color" [value]="form.color" [style.background]="form.color"
            [disabled]="form.color_editable !== 1"/>
    </div>

    <div fxLayout="row">
        <button mat-icon-button fxFlex="0 1 auto" (click)="saveForm()">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>