<mat-card class="hover-popup" *ngIf="data">
  <mat-card-title>{{data?.location}}</mat-card-title>
  <mat-card-content>
    <p class="value">{{data?.start}} - {{data?.end}}</p>
    <ul *ngIf="data?.selected" class="staffs">
      <li fxLayout="row" fxLayoutAlign="start center" *ngFor="let staff of data?.selected">
        <span class="dot" [style.backgroundColor]="staff?.staff_status[0]?.bg_color" [matTooltip]="staff?.staff_status[0]?.status"></span>
        {{staff.name}}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
