@import "src/app/core/scss/fuse";

#shift-role-edit {

    .content {
        .full-width {
            width: 100%;
        }

        .break {
            width: 80px;
        }

        .time-radio-group {
            display: inline-flex;
            flex-direction: column;
        }

        .expense-limit {
            width: 120px;
        }

        w-mat-timepicker.disabled {
            pointer-events: none;

            .mat-form-field-infix {
                color: grey;
            }
        }

        mat-button-toggle-group {
            top: -7px;
        }
    }

    // Role boxes
    .role-box {
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 4px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .fr-toolbar.fr-top {
            border-top: 0;
            border-bottom: 1px solid #ebebeb;
            box-shadow: none;
        }

        .fr-box.fr-basic.fr-top .fr-wrapper {
            box-shadow: none;
        }

        .fr-quick-insert {
            display: none;
        }
    }
}