<div id="user-settings-xtrm-container" *ngIf="loaded">
    <!-- Setup -->
    <div *ngIf="!setup" fxLayout="column">
        <p>{{xtrm.message}}</p>
        <div class="setup-btn-area">
            <button mat-raised-button color="accent" (click)="setXtrmSetup()">Set Up</button>
        </div>
    </div>
    <!-- / Setup -->

    <ng-container *ngIf="setup">
        <ng-container *ngIf="otpSent">
            <div fxLayout="column">
                <p *ngIf="!sentSetXtrmRequest">
                    {{xtrm.message}}
                </p>
                <p *ngIf="sentSetXtrmRequest">
                    An email was sent to {{user.email}} from XTRM containing a verification code. Please enter the verification code below to authorise StaffConnect to access your XTRM account.
                </p>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="center center" fxLayoutGap.gt-xs="12px">
                    <label fxFlex="nogrow">Verification Code:</label>
                    <mat-form-field fxFlex="nogrow">
                        <input matInput #code>
                    </mat-form-field>
                    <button fxFlex="nogrow" class="authorize-btn" mat-raised-button color="accent" (click)="authorize(code.value)" [disabled]="!code.value">Authorize</button>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!optSent">
            <div fxLayout="row" *ngIf="xtrm.wallets" class="mb-20">
                <fieldset fxFlex="nogrow">
                    <legend>Wallets</legend>
                    <table cellspacing="0">
                        <tr *ngFor="let wallet of xtrm.wallets; even as even; odd as odd" [ngClass]="{'odd': odd, 'even': even}">
                            <td matTooltip="Wallet Name">{{wallet.wname}}</td>
                            <td matTooltip="Currency">{{wallet.currency}}</td>
                            <td matTooltip="Balance">{{wallet.balance}}</td>
                            <td>
                                <button mat-raised-button color="accent" [matMenuTriggerFor]="walletMenu">
                                    <span fxLayout="row" fxLayoutAlign="center center">
                                        <span>Withdraw</span>
                                        <mat-icon class="s-20">arrow_drop_down</mat-icon>
                                    </span>
                                </button>
                                <mat-menu #walletMenu="matMenu">
                                    <button mat-menu-item (click)="withdraw('bank', wallet)">Bank Account</button>
                                    <button mat-menu-item (click)="withdraw('paypal', wallet)">Paypal</button>
                                    <button mat-menu-item (click)="withdraw('prepaid_visa', wallet)">Prepaid Visa</button>
                                </mat-menu>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>

            <div fxLayout="row">
                <fieldset fxFlex="nogrow" id="banks">
                    <legend>Banks</legend>
                    <button mat-mini-fab color="accent" (click)="openAddBankDialog()">
                        <mat-icon class="white-fg">add</mat-icon>
                    </button>
                    <table cellspacing="0">
                        <tr *ngFor="let bank of xtrm.banks; even as even; odd as odd" [ngClass]="{'odd': odd, 'even': even}">
                            <td matTooltip="Bank Name">{{bank.bname}}</td>
                            <td matTooltip="Currency">{{bank.currency}}</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </ng-container>
    </ng-container>

</div>