@import "src/app/core/scss/fuse";

.group-edit-tracking-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 600px;
    }

    .mat-dialog-container {
        padding: 0;
        overflow: hidden;

        .mat-toolbar {
            min-height: initial;
        }

    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;
    }
}
