<div id="selected-staff-time-picker" class="mb-8">
    <div fxFlex="1 0 auto" *ngIf="!formActive" class="text-field" [class.disabled]="editable !== 1">
        <span class="info" (click)="openForm()">
            <span matTooltip="Start time">{{display(staff.staff_start)}}</span> 
            &nbsp;-&nbsp;
            <span matTooltip="End time">{{display(staff.staff_end)}}</span>
        </span>
    </div>

    <div class="" fxLayout="row" fxFlex="1 0 auto" *ngIf="formActive" fxLayoutAlign="start center" fxLayoutWrap>

        <div fxFlex="70px" class="mr-8">
            <w-mat-timepicker color="accent" [placeholder]="''" [(userTime)]="start.time"></w-mat-timepicker>
        </div>
        <div fxFlex="70px">
            <w-mat-timepicker color="accent" [placeholder]="''" [(userTime)]="end.time"></w-mat-timepicker>
        </div>

        <button mat-icon-button fxFlex="0 1 auto" (click)="saveForm()">
            <mat-icon>check</mat-icon>
        </button>

        <button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>