#selected-staff-time-picker {

    .text-field {

        &.disabled {
            pointer-events: none;
            .info {
                border-bottom: none;
            }
        }

        .info {
            border-bottom: dashed 1px #d0d0d0;
            &:hover {
                cursor: text;
            }
        }
    }

    /** Patch **/
    .mat-form-field-infix {
        border-top: unset;
    }

    .mat-form-field-underline {
        bottom: unset;
    }

    .mat-form-field-wrapper {
        padding-bottom: unset;
    }

}
