:host {
    .new-element {
        border-radius: 2px;
        background-color: #EEF0F2;

        .new-element-form-button {
            text-transform: none;
            font-size: 15px;
            padding: 0 8px;
            height: 54px;
            margin: 0;
            width: 100%;

            mat-icon {
                border-radius: 50%;
                height: 40px;
                width: 40px;
                line-height: 40px;
                margin-right: 8px;
            }
        }

        .new-element-form {
            padding: 8px;
            height: 54px;

            > input {
                height: 100%;
                padding: 0 10px;
            }
        }
    }
}
