#shifts-import-container {

    &.page-layout {
        overflow: unset !important;
    }

    .header {
        max-width: inherit !important;
        margin: -1em;
        min-height: 200px;
        position: relative;
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin-bottom: 25px;
        height: auto !important;

        .add-file-button {
            position: absolute;
            bottom: -28px;
            left: 16px;
            z-index: 999;
        }
    }
}