#shifts-import-container {

    &.page-layout {
        overflow: unset !important;
    }

    .warnings {

        .message {
            padding: 8px;
        }
    }

    .hidden {
        display: none !important;
    }

    fieldset {
        border: 1px solid #dcdcdc;
        border-radius: 2px;
        margin-bottom: 16px;

        legend {
            padding: 0 4px;
        }
    }

}