#shifts-import-container {

    &.page-layout {
        overflow: unset !important;
    }

    .warnings {

        .message {
            padding: 8px;
        }
    }

    .hidden {
        display: none !important;
    }

}