<!-- SIDENAV CONTENT -->
<div class="sidenav-content" fusePerfectScrollbar fxFlex>

    <!-- CHATS CONTENT -->
    <div *fuseIfOnDom [@animateStagger]="{value:'50'}">

        <!-- CHATS LIST-->
        <div class="chat-list" fxLayout="column">

            <div matSubheader>
                Chats
            </div>

            <button mat-button class="contact"
                    *ngFor="let user of users"
                    (click)="fetchChat.next(user.id)"
                    [@animate]="{value:'*',params:{y:'100%'}}">

                <div fxLayout="row" fxLayoutAlign="start center">

                    <div class="avatar-wrapper" fxFlex="0 1 auto" fxLayoutAlign="center center">
                        <img [src]="user.ppic_a"
                             class="avatar"
                             [alt]="user.fname + ' ' + user.lname"/>
                        <!-- <mat-icon class="s-16 status"></mat-icon> -->
                    </div>

                    <div fxLayout="row" fxFlex>

                        <div class="" fxFlex fxLayout="column" fxLayoutAlign="center start">
                            <div class="contact-name">{{user.fname}} {{user.lname}}</div>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="center end">
                            <div *ngIf="getUnreadCounts(user.id)" class="unread-message-count">{{getUnreadCounts(user.id)}}</div>
                        </div>
                    </div>
                </div>
            </button>

        </div>
        <!-- / CHATS LIST-->

    </div>
    <!-- / CHATS CONTENT -->

</div>
<!-- / SIDENAV CONTENT -->
