<div id="users-search-bar-wrapper"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="start end"
     fxLayoutAlign.xs="start"
     fxLayoutGap="12px"
     fxLayoutGap.xs="0">

    <div class="pb-20" fxFlex="0 1 auto">
        <button mat-icon-button (click)="openFiltersDialog()">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">search</mat-icon>
        </button>
    </div>
    
    <div fxFlex>
        <mat-form-field fxFlexFill>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let item of value" (remove)="remove(item)">
                    {{item.text}} <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <input #chipInput 
                    [matChipInputFor]="chipList" 
                    [matChipInputAddOnBlur]="false" 
                    (matChipInputTokenEnd)="addNew($event)" 
                    [matAutocomplete]="auto" />
            </mat-chip-list>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="add($event)">
            <ng-container *ngFor="let group of source">
                <mat-optgroup *ngIf="sourceFiltered(group.children).length > 0" [label]="group.text">
                    <mat-option *ngFor="let option of sourceFiltered(group.children)" [value]="option">
                        {{option.text}}
                    </mat-option>
                </mat-optgroup>
            </ng-container>
        </mat-autocomplete>
    </div>

    <div fxFlex="0 1 auto">
        <mat-form-field>
            <mat-select (change)="onTypeFilterChange($event)" [(ngModel)]="selectedTypeFilter">
                <ng-container *ngFor="let group of typeFilters">
                    <mat-optgroup *ngIf="group.children.length > 0" [label]="group.text">
                        <mat-option *ngFor="let option of group.children" [value]="option.id">
                            {{option.text}}
                        </mat-option>
                    </mat-optgroup>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>

</div>