<div id="settings-work-areas-container" fxLayout="column">

    <!-- WORK AREAS MODULE -->
    <div fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center" [ngClass.xs]="'info'">
        <div class="name" fxFlex="20">Work Areas Module</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" [checked]="items[Setting.work_areas_enable]"
                (change)="onChange(Setting.work_areas_enable, $event)" fxFlex="15"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">
                Enable the work areas module to create and allow staff to choose different defined or geographic areas they're willing to travel to for work.
            </div>            
        </div>
    </div>
    <!-- / WORK AREAS MODULE -->

    <!-- Message -->
    <div [ngClass.xs]="'info'" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Message</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-form-field floatPlaceholder="never" fxFill>
                <input debounce matInput [(ngModel)]="items[Setting.work_areas_msg]" [delay]="1000"
                    (onValueChange)="onChange(Setting.work_areas_msg, $event)"
                    placeholder="Enter any text you would like displayed in the work areas section of staff profiles" />
            </mat-form-field>
        </div>
    </div>
    <!-- / Message -->

    <!-- Min Number Required -->
    <div [ngClass.xs]="'info'" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Minimum Required</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <div  fxFlex="25">
                <mat-form-field floatPlaceholder="never" [style.width.px]="40">
                    <input matInput type="number" min="1" max="99" [formControl]="numberRequired"/>
                </mat-form-field>
            </div>
            <div class="desc secondary-text" fxFlex="75">
                Enter the minimum number of work areas staff must select.
            </div>  
        </div>
    </div>
    <!-- / Min Number Required -->

    <!-- Max Number -->
    <div [ngClass.xs]="'info'" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Maximum</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <div  fxFlex="25">
                <mat-form-field floatPlaceholder="never" [style.width.px]="40">
                    <input matInput type="number" min="0" max="99" [formControl]="numberMaximum"/>
                </mat-form-field>
            </div>
            <div class="desc secondary-text" fxFlex="75">
                Enter the maximum number of work areas staff may select.
            </div>  
        </div>
    </div>
    <!-- / Max Number -->

    <div class="nav" fxFlex="1 0 auto" fxLayout="column">
        <mat-drawer-container class="draw-container" autosize fxFlex="1 0 auto">
            <mat-drawer #drawer class="draw-sidenav" mode="side" [disableClose]="true" fusePerfectScrollbar>
                <div class="pt-16">

                    <!-- EDIT FORM -->
                    <div>
                        <form [formGroup]="categoryForm" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="px-24">
                    
                            <mat-form-field fxFlex floatPlaceholder="never" class="cname-field">
                                <input matInput formControlName="cname" placeholder="New category" required>
                            </mat-form-field>
                    
                            <div fxLayout="row">
                                <button mat-mini-fab fxFlex="0 1 auto" (click)="addCategory()" [disabled]="categoryForm.invalid">
                                    <mat-icon [class.white-fg]="categoryForm.valid">add</mat-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- / EDIT FORM -->

                    <!-- CATEGORY LIST -->
                    <app-settings-work-group-item *ngFor="let category of categories"
                        [category]="category" (click)="selectCategory(category)"
                        [selected]="category.id === selectedCategory?.id"
                        (onCategoryDeleted)="onCategoryDeleted($event)">
                    </app-settings-work-group-item>
                    <!-- / CATEGORY LIST -->
                    
                    
                </div>
            </mat-drawer>

            <!-- WORK AREAS CONTAINER -->
            <div class="work-areas-container">

                <!-- WORK AREA FORM -->
                <div  *ngIf="selectedCategory" class="px-16">
                    <form [formGroup]="workAreaForm" fxLayout="row" fxLayoutAlign="start center"
                        fxLayoutGap="16px">

                        <input type="hidden" formControlName="work_area_cat_id" />

                        <mat-form-field floatPlaceholder="never" fxFlex>
                            <input matInput formControlName="aname" placeholder="New area" required>
                        </mat-form-field>

                        <mat-form-field floatPlaceholder="never" class="w-300">
                            <mat-select formControlName="php_tz" placeholder="Timezone">
                                <mat-option *ngFor="let option of timezones" [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <button mat-mini-fab fxFlex="0 1 auto" (click)="addWorkArea()"
                            [disabled]="workAreaForm.invalid">
                            <mat-icon [class.white-fg]="workAreaForm.valid">add</mat-icon>
                        </button>
                    </form>
                </div>
                <!-- / WORK AREA FORM -->

                <!-- WORK AREAS -->
                <app-settings-work-area-item *ngFor="let workArea of workAreas; let odd=odd; let even=even" [workArea]="workArea" [ngClass]="{'odd': odd, 'even': even}"
                    [timezones]="timezones" (onWorkAreaDeleted)="onWorkAreaDeleted($event)"></app-settings-work-area-item>
                <!-- / WORK AREAS -->

            </div>
            <!-- / WORK AREAS CONTAINER -->

        </mat-drawer-container>
    </div>

</div>