<div id="videos" [ngClass.gt-xs]="'p-24'">

    <div class="mb-24" *ngIf="settings.profile_video_msg && !(isOwner || isAdmin)">
        <h3>
            {{settings.profile_video_msg}}
            <span class="secondary-text ml-4" *ngIf="settings.profile_video_required > 0">
                ({{settings.profile_video_required}}&nbsp; {{settings.profile_video_required > 1 ? 'videos' : 'video'}} required)
            </span>
        </h3>
    </div>

    <!-- Tag buttons -->
    <div class="mb-24" *ngIf="isAdmin || isOwner">
        <mat-chip-list [multiple]="true" [selectable]="true">
            <mat-chip color="accent" [selectable]="selectedTags.indexOf(tag) > -1"
                *ngFor="let tag of tags" (click)="toggleSelect(tag)"
                [selected]="selectedTags.indexOf(tag) > -1">{{tag}}</mat-chip>
        </mat-chip-list>

    </div>
    <!-- / Tag buttons -->

    <!-- BASIC SECTION -->
    <div class="group">

        <div class="video">

            <!-- ADD FILE BUTTON -->
            <div class="file-uploader">
                <input hidden type="file" #fileInput (change)="onUploadVideo($event)" multiple/>
                <button mat-raised-button class="mb-24" color="accent" (click)="fileInput.click()">
                    <mat-icon>file_upload</mat-icon>
                    <span>Upload</span>
                </button>
            </div>
            <!-- / ADD FILE BUTTON -->

            <div class="group-media ngx-dnd-container" fxLayout="row" fxLayoutWrap ngxDroppable="group" [model]="basicVideos" (drop)="onDrop($event)">
                <div class="media ngx-dnd-item" ngxDraggable *ngFor="let video of filterVideosBySelectedTags(basicVideos)" [model]="video">
                    <ng-container [ngTemplateOutlet]="videoTpl" [ngTemplateOutletContext]="{video: video}">
                    </ng-container>
                </div>
            </div>

        </div>

    </div>
    <!-- / BASIC SECTION-->

    <!-- ADMIN SECTION -->
    <div class="group" *ngIf="isOwner || isAdmin">

        <div class="video">
            <div class="group-title">
                <span class="name">Admin Only</span>
                <span class="info"></span>
            </div>

            <!-- ADD FILE BUTTON -->
            <div class="file-uploader">
                <input hidden type="file" #adminFileInput (change)="onUploadVideo($event, 1)" multiple/>
                <button mat-raised-button class="mb-24" color="accent" (click)="adminFileInput.click()">
                    <mat-icon>file_upload</mat-icon>
                    <span>Upload</span>
                </button>
            </div>
            <!-- / ADD FILE BUTTON -->

            <div class="group-media ngx-dnd-container" fxLayout="row" fxLayoutWrap ngxDroppable="group" [model]="adminVideos" (drop)="onDrop($event)">
                <div class="media ngx-dnd-item" ngxDraggable *ngFor="let video of filterVideosBySelectedTags(adminVideos)" [model]="video">
                    <ng-container [ngTemplateOutlet]="videoTpl" [ngTemplateOutletContext]="{video: video}">
                    </ng-container>
                </div>
            </div>

        </div>

    </div>
    <!-- / ADMIN SECTION -->

</div>

<ng-template #videoTpl let-video="video">

    <img class="preview" [src]="video.thumbnail" (click)="showVideo(video)">

    <div class="title" fxLayout="row" fxLayoutAlign="end center">

        <button mat-icon-button (click)="onLockedChanged(video)">
            <mat-icon *ngIf="video.locked" fontSet="fa" fontIcon="fa-lock"></mat-icon>
            <mat-icon *ngIf="!video.locked" fontSet="fa" fontIcon="fa-unlock"></mat-icon>
        </button>

        <button mat-icon-button (click)="openTagModal(video)" *ngIf="isOwner || isAdmin">
            <mat-icon fontSet="fa" fontIcon="fa-tags" [matTooltip]="video.tagged.length > 0 ? video.tagged.join(', ') : 'No tags'"></mat-icon>
        </button>

        <button mat-icon-button (click)="deleteProfileVideo(video)">
            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
        </button>

    </div>
</ng-template>
