@import "src/app/core/scss/fuse";

:host {
    
    .inner-sidenav {
        height: 100%;
    }

    .mat-sidenav-content {
        margin-left: 220px;
    }

    
    .page-layout {
        overflow: unset !important;
        @include media-breakpoint('xs') {
            margin: -1em 0;
        }
        @include media-breakpoint-up('xs') {
            margin: -1em;
        }
        width: inherit;
    }

    .header {
        height: auto !important;
        min-height: 200px !important;
    }
}