.field-header-timezone {
    border-bottom: dashed 1px #d0d0d0;
    &.disabled {
        pointer-events: none;
        border-bottom: none;
    } 
    .field-timezone:hover {
        cursor: text;
    }
}

.field-header-timezone-form {
    .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-form-field-infix {
        padding: 0;
    }

    .mat-form-field-underline {
        bottom: -5px;
    }
}