<div id="invoice" class="compact page-layout blank" fxLayout="row" fusePerfectScrollbar>

    <div class="invoice-container" [ngClass.gt-xs]="'px-64 pb-64 pt-20'">
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="action-buttons">
            <button mat-raised-button *ngFor="let action of payroll.actions" color="accent" (click)="doAction(action)" class="mr-4 mb-12">
                {{action.label}}
            </button>
        </div>
        <!-- INVOICE -->
        <div class="card">
            <div class="invoice-status" [style.background-color]="getBGColor(payroll.status)" *ngIf="payroll.status">{{payroll.status}}</div>
            <div class="header">
                <div class="invoice-date">{{payroll?.created_at | date: 'MMM d, y'}}</div>

                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <div class="client">
                        <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                            <span class="title">{{payroll?.display}}</span>
                        </div>

                        <div class="info">
                            <div *ngIf="payroll?.company?.name" class="title">{{payroll?.company?.name}}</div>
                            <div class="address">
                              <span *ngIf="payroll?.company?.address">{{payroll?.company?.address + ', '}}</span>
                              <span *ngIf="payroll?.company?.postcode">{{payroll?.company?.postcode + ', '}}</span>
                              <span *ngIf="payroll?.company?.city">{{payroll?.company?.city + ', '}}</span>
                              <span *ngIf="payroll?.company?.state">{{payroll?.company?.state}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="issuer mat-accent-bg" fxLayout="row" fxLayoutAlign="start center">
                        <div class="logo">
                            <img [src]="logoUrl">
                        </div>

                        <div class="info">
                            <div *ngIf="payroll?.user?.fname" class="title">{{payroll?.user?.fname + ' ' + payroll?.user?.lname}}</div>
                            <div class="address">
                              <span *ngIf="payroll?.user?.address">{{payroll?.user?.address + ', '}}</span>
                              <span *ngIf="payroll?.user?.postcode">{{payroll?.user?.postcode + ', '}}</span>
                              <span *ngIf="payroll?.user?.city">{{payroll?.user?.city + ', '}}</span>
                              <span *ngIf="payroll?.user?.state">{{payroll?.user?.state}}</span>
                            </div>
                            <div *ngIf="payroll?.user?.mob" class="phone">{{payroll?.user?.mob}}</div>
                            <div *ngIf="payroll?.user?.email" class="email">{{payroll?.user?.email}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <table class="simple invoice-table" *ngIf="payrollItems">
                    <thead>
                        <tr>
                            <th>TYPE</th>
                            <th>TITLE</th>
                            <th class="text-right">UNIT PRICE</th>
                            <th class="text-right">QUANTITY</th>
                            <th class="text-right">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let line of payrollItems">
                            <td>
                                <div class="title">
                                    {{line.type}}
                                </div>
                            </td>
                            <td>
                                {{line.title}}
                            </td>
                            <td class="text-right">
                                <span [matTooltip]="payroll.currency">{{payroll.currency_symbol}}</span>
                                {{line.u_amt}}
                            </td>
                            <td class="text-right">
                                {{line.qty}}
                            </td>
                            <td class="text-right">
                                <span [matTooltip]="payroll.currency">{{payroll.currency_symbol}}</span>
                                {{line.l_amt}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="simple invoice-table-footer">
                    <tbody>
                        <tr class="total">
                            <td>TOTAL</td>
                            <td>
                                <span [matTooltip]="payroll.currency">{{payroll.currency_symbol}}</span>
                                {{payroll?.total}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
