<div fxLayout="column">

    <!-- SHOWCASE MODULE -->
    <div class="info" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Showcase Module</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" [checked]="value(Setting.showcase_enable)"
                (change)="onChange(Setting.showcase_enable, $event)" fxFlex="15"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">
                Enable the showcase module to allow presentation of your staff info and photos to clients
            </div>
        </div>
    </div>
    <!-- / SHOWCASE MODULE -->

</div>
