<sc-calendar
  [options]="options"
  [contextMenu]="contextMenu"
  [ajax]="true"
  [loading]="loading"
  (optionChanged)="updateEvents($event)">

  <div calendar-header fxLayout="row" fxLayoutAlign="end space-evenly">
    <button mat-icon-button *ngFor="let flag of currentUserFlags" (click)="toggleFlagClick(flag)"
      (dblclick)="toggleFlagDblClick(flag)" [matTooltip]="flag.fname">
        <mat-icon *ngIf="flag.set === 0; else flagBlock">highlight_off</mat-icon>
        <ng-template #flagBlock>
          <mat-icon [style.color]="flag.set !== 2 ? flag.color : 'white'">flag</mat-icon>
        </ng-template>
    </button>
</div>

  <div calendar-header fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="mr-8 mb-8" fxFlex="0 1 auto">search</mat-icon>
    <div fxFlex>
      <app-custom-multi-select-group 
        [autocompleteObservable]="filtersObservable"
        [labelBy]="'text'" 
        [valueBy]="'id'"
        placeholder="Filter shifts..."
        (valueChange)="onFiltersChanged($event)"></app-custom-multi-select-group>
    </div>
  </div>
</sc-calendar>

