<sc-calendar
  [options]="options"
  [contextMenu]="contextMenu"
  [ajax]="true"
  [loading]="loading"
  [hoverAsyncFn]="hoverAsyncFn"
  (optionChanged)="updateEvents($event)">

  <div calendar-header fxLayout="row" fxLayoutAlign="end space-evenly">
    <button mat-icon-button *ngFor="let flag of currentUserFlags" (click)="toggleFlagClick(flag)"
      (dblclick)="toggleFlagDblClick(flag)" [matTooltip]="flag.fname">
        <mat-icon *ngIf="flag.set === 0; else flagBlock">highlight_off</mat-icon>
        <ng-template #flagBlock>
          <mat-icon [style.color]="flag.set !== 2 ? flag.color : 'white'">flag</mat-icon>
        </ng-template>
    </button>
  </div>

  <div calendar-header fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="mr-8 mb-8" fxFlex="0 1 auto">search</mat-icon>
    <div fxFlex>
      <app-custom-multi-select-group 
        [autocompleteObservable]="filtersObservable"
        [labelBy]="'text'" 
        [valueBy]="'id'"
        placeholder="Filter shifts..."
        (valueChange)="onFiltersChanged($event)"></app-custom-multi-select-group>
    </div>
  </div>

  <div calendar-footer class="my-24">
    <a href="javascript:void(0)" (click)="showLegend()" *ngIf="!isLegendShow">Show legend</a>
    <fieldset *ngIf="isLegendShow && shiftStatuses.length > 0" class="legend">
      <legend>Legend</legend>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="33" *ngFor="let status of shiftStatuses" class="status">
          <div [style.background-color]="status.bg_color" class="bg"></div>
          <span class="title">{{status.status}}</span>
        </div>
      </div>
    </fieldset>
  </div>
</sc-calendar>
