<div class="page-layout simple">

    <!-- HEADER -->
    <div class="header p-16 p-sm-24 mat-accent-bg" fxLayout="column">
        <div>
            <h2>Forms</h2>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <button mat-raised-button color="accent" (click)="createForm()" class="mr-8">
            CREATE
        </button>

        <button mat-raised-button color="accent" (click)="openForm()">
            OPEN
        </button>
    </div>
    <!-- / CONTENT -->
</div>