<div fxFlex="1 0 auto" *ngIf="!formActive" class="basic-text-element" (click)="openForm()">
	<span class="element-value">{{element[field] ? element[field] : 'Empty'}}</span>
</div>

<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="basic-text-element-form" fxLayout="row" fxFlex="1 0 auto" *ngIf="formActive">

	<mat-form-field floatPlaceholder="never" fxFlexLayout="start center">
		<input matInput
			formControlName="data"
			#dataInput
			[required]="['fname', 'lname', 'email'].includes(field)"
			fxFlex
			class="px-8">
	</mat-form-field>

	<button mat-icon-button fxFlex="0 1 auto">
		<mat-icon>check</mat-icon>
	</button>
	<button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()" type="button">
		<mat-icon>close</mat-icon>
	</button>
</form>