.profile-attribute-category-name {
    &.disabled {
        pointer-events: none;
        .category-name {
            border-bottom: none;
        }
    }
    
    .category-name {
        border-bottom: dashed 1px #d0d0d0;
        &:hover {
            cursor: text;
        }
    }
}

.profile-attribute-category-name-form {
    .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-form-field-infix {
        padding: 0;
    }

    .mat-form-field-underline {
        bottom: -5px;
    }

    .mat-form-field-label {
        top: 0.8em;
        padding: 0 8px;
    }
}