.field-header-visibility {
    .field-visibility:hover {
        cursor: text;
    }
}

.field-header-visibility-form {
    .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-form-field-infix {
        padding: 0;
    }

    .mat-form-field-underline {
        bottom: -5px;
    }
}