<div fxFlex="1 0 auto" *ngIf="!formActive" class="field-header-visibility" (click)="openForm()">
    <span class="field-visibility">{{element.visibility | uppercase}}</span>
</div>

<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="field-header-visibility-form" fxLayout="row" fxFlex="1 0 auto" *ngIf="formActive">

    <mat-form-field fxFlex="1 0 auto">
        <mat-select formControlName="visibility" placeholder="Visibility">
            <mat-option [value]="'hidden'">
                Hidden
            </mat-option>
            <mat-option [value]="'required'">
                Required
            </mat-option>
            <mat-option [value]="'invoice'">
                Required for invoice
            </mat-option>
            <mat-option [value]="'optional'">
                Optional
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-icon-button fxFlex="0 1 auto">
        <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()" type="button">
        <mat-icon>close</mat-icon>
    </button>
</form>