<div fxLayout="column">

    <!-- CHECK IN OUT ENABLE -->
    <div fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center" [ngClass.xs]="'info'">
        <div class="name" fxFlex="20">Check In / Out Module</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" [checked]="value(Setting.check_in_out_enable)"
                (change)="onChange(Setting.check_in_out_enable, $event)" fxFlex="15"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">Enable the check in / out module to allow your staff to check in and out of shifts to indicate their arrival and departure.</div>            
        </div>
    </div>
    <!-- / CHECK IN OUT ENABLE  -->

    <!-- CHECK IN OPEN -->
    <div fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center" [ngClass.xs]="'info'">
        <div class="name" fxFlex="20">Check In Open</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <div fxFlex="15">
                <mat-form-field [style.width.px]="50">
                    <mat-select [value]="value(Setting.check_in_start)" (selectionChange)="onChange(Setting.check_in_start, $event)">
                        <mat-option *ngFor="let option of [5, 15, 30, 45, 60, 90]" [value]="option">
                          {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="desc secondary-text" fxFlex="85">Enter the amount in minutes before a shift start time after which a staff can check in.</div>
        </div>
    </div>
    <!-- / CHECK IN OPEN -->

    <!-- CHECK IN PHOTO -->
    <div class="info" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Check In Photo</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" [checked]="value(Setting.check_in_photo_enable)"
                fxFlex="15" (change)="onChange(Setting.check_in_photo_enable, $event)"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">Enable to require staff to upload a photo upon check in.</div>
        </div>
    </div>
    <!-- / CHECK IN PHOTO -->

    <!-- CHECK OUT PHOTO -->
    <div fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center" [ngClass.xs]="'info'">
        <div class="name" fxFlex="20">Check Out Photo</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" [checked]="value(Setting.check_out_photo_enable)"
                fxFlex="15" (change)="onChange(Setting.check_out_photo_enable, $event)"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">Enable to require staff to upload a photo upon check out.</div>
        </div>
    </div>
    <!-- / CHECK OUT PHOTO -->

    <!-- LATE CHECK IN NO SHOW -->
    <div class="info" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Late Check In No Show</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <div fxFlex="15">
                <mat-form-field [style.width.px]="50">
                    <mat-select [value]="value(Setting.check_in_no_show)" (selectionChange)="onChange(Setting.check_in_no_show, $event)">
                        <mat-option *ngFor="let option of [5, 15, 30, 45, 60, 90]" [value]="option">
                          {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="desc secondary-text" fxFlex="85">
                Enter the amount in minutes after a shift start time after which a staff who has not checked in will be assigned the 'No Show' status.
            </div>
        </div>
    </div>
    <!-- / LATE CHECK IN NO SHOW -->
</div>
