@import "src/app/core/scss/fuse";

#settings-scheduling-container {

    .info {
        margin-bottom: 24px;

        .name {
            font-weight: 400;
        }

        .desc {
            @include media-breakpoint-up('xs') {
            }
        }
    }

    .box {
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .field {
        padding: 12px;
        margin: 8px;
        min-width: 250px;
        @include mat-elevation(2);
    }

    .ngx-dnd-item {
        transition: opacity 0.4s ease-in-out;
        display: block; 
    }

    .ngx-dnd-item:not(.has-handle):not(.move-disabled),
    .ngx-dnd-item.has-handle [ngxdraghandle],
    .ngx-dnd-item.has-handle [ngxDragHandle] {
        cursor: move;
        cursor: grab;
        cursor: -webkit-grab;
    }

    .ngx-dnd-item .ngx-dnd-content {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
    }

    .gu-hide {
        display: none !important;
    }

    .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
}