<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit comment</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <!--  COMMENT FORM -->
        <mat-form-field class="w-100-p">
                <mat-label>Comment</mat-label>
                <textarea matInput placeholder="Write comment.." [(ngModel)]="comment.content"></textarea>

        </mat-form-field>
        <!-- / COMMENT FORM -->
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center center">

        <button mat-raised-button (click)="saveComment()" class="save-button mat-accent" aria-label="SAVE">
            SAVE
        </button>

        <button mat-raised-button (click)="dialogRef.close(false)" aria-label="CANCEL" matTooltip="Cancel">
            CANCEL
        </button>

    </div>
</div>
