<div 
    fxFlex="1 0 auto"
    *ngIf="!formActive"
    class="category-header-name ml-8"
    (click)="openForm()">
    <span class="category-name">{{category.cname}}</span>
</div>

<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="category-header-name-form" fxLayout="row" fxFlex="1 0 auto" *ngIf="formActive">

    <mat-form-field floatPlaceholder="never" fxFlexLayout="start center">
        <input matInput formControlName="cname" #nameInput fxFlex placeholder="Write a Category Name" class="px-8" required>
    </mat-form-field>
    <button mat-icon-button fxFlex="0 1 auto">
        <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()" type="button">
        <mat-icon>close</mat-icon>
    </button>
</form>