<div fxLayout="column" class="p-24">

    <!-- ADMIN_ALL_STAFF -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow administrator to see all staff or only those specified by work area or team
            </div>
        </div>
    </div>
    <!-- / ADMIN_ALL_STAFF -->

    <!-- ADMIN_SHIFT_DELETE -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow administrator to delete shifts
            </div>
        </div>
    </div>
    <!-- / ADMIN_SHIFT_DELETE -->

    <!-- ADMIN_BILL_RATE -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow administrator to view / edit client bill rates
            </div>
        </div>
    </div>
    <!-- / ADMIN_BILL_RATE -->

    <!-- ADMIN_CLIENT_INVOICE -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow administrator to view / edit client invoices
            </div>
        </div>
    </div>
    <!-- / ADMIN_CLIENT_INVOICE -->

    <!-- ADMIN_STAFF_PAYROLL -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow administrator to view / edit staff payroll
            </div>
        </div>
    </div>
    <!-- / ADMIN_STAFF_PAYROLL -->

</div>
