<div class="dialog-content-wrapper">
    <ng-container *ngIf="forms.length === 0; else formBlock">
        <h1 mat-dialog-title>Really apply for this role?</h1>
        <form [formGroup]="form">

            <div mat-dialog-content>
                <p *ngIf="settings.shift_msg_application !== ''">
                    {{settings.shift_msg_application}}
                </p>
                <mat-form-field floatPlaceholder="never" class="w-100-p">
                    <textarea matInput formControlName="reason" placeholder="Tell us why your are applying or why we should choose you!"></textarea>
                </mat-form-field>
            </div>

            <div mat-dialog-actions>
                <button mat-button (click)="saveForm()" cdkFocusInitial class="mat-accent-bg">Apply</button>
                <button mat-button [mat-dialog-close]="false" class="mat-primary-50-bg">Cancel</button>
            </div>
        </form>
    </ng-container>
    <ng-template #formBlock>
        <p class="text-center mb-0">The following must be completed first:</p>
        <div fxLayout="column" fxLayoutAlign="center center">
            <a *ngFor="let form of forms" href="javascript:void(0)" (click)="openForm(form)" class="mt-8">{{form.fname}}</a>
        </div>
    </ng-template>
</div>
