<div id="admin-shift-staff-applicants">
  <ngx-datatable class="material striped" [rows]="staffs" [columnMode]="'force'" [headerHeight]="0" [footerHeight]="0" [rowHeight]="'auto'">

    <ngx-datatable-column name="Thumbnail" prop="ppic_a" [width]="60" [sortable]="false" [canAutoResize]="false">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="savatar">
          <span
            #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{row: row}">
          </span>
          <img
            [src]="getAvatar(value)"
            (click)="openUser(row, $event)"
            [ngStyle]="{'border': '3px solid ' + row.staff_status.border_color}"
            [matTooltip]="row.staff_status.status"
            (contextmenu)="openContextMenu($event, menuTrigger)"/>
          <div *ngIf="row.user_status!=null" class="status" [style.background]="row.user_status.color" [matTooltip]="row.user_status.sname"></div>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Name" prop="name" [sortable]="true" [canAutoResize]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <strong>{{row.name}}</strong>
        <ng-container *ngIf="row.email">
          <br/>
          <strong>{{row.email}}</strong>
        </ng-container>
        <ng-container *ngIf="row.mob">
          <br/>
          <span>{{row.mob}}</span>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Distance" prop="distance" [sortable]="false" [canAutoResize]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.distance}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Performance" [sortable]="false" [canAutoResize]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ng-container *ngIf="row.performance">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span matTooltip="Number of shifts completed">{{row.performance.num_shifts}}</span>
            <mat-icon class="s-12" [ngClass]="getPerformanceClass(row, 'shift')">{{row.performance.rating != 0 ? 'star' : 'star_border'}}</mat-icon>
            <span matTooltip="Average performance rating">{{row.performance.rating}}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" *ngIf="shift.client_id !== null">
            <span matTooltip="Number of shifts completed for client">{{row.performance.num_shifts_client}}</span>
            <mat-icon class="s-12" [ngClass]="getPerformanceClass(row, 'client')">{{row.performance.rating_client != 0 ? 'star' : 'star_border'}}</mat-icon>
            <span matTooltip="Client average performance rating">{{row.performance.rating_client}}</span>
          </div>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Ago" prop="ago" [sortable]="false" [canAutoResize]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span [matTooltip]="row.updated_at">{{row.ago}}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Reason" prop="reason" [sortable]="false" [canAutoResize]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.reason}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [canAutoResize]="false" [width]="180">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-raised-button color="accent" (click)="assignStatus(row, row.action)">
          <ng-container [ngSwitch]="row.action">
            <ng-container *ngSwitchCase="'STAFF_STATUS_SELECTED'">Select</ng-container>
            <ng-container *ngSwitchCase="'STAFF_STATUS_STANDBY'">Standby</ng-container>
            <ng-container *ngSwitchCase="'STAFF_STATUS_HIDDEN_REJECTED'">Hidden Reject</ng-container>
            <ng-container *ngSwitchCase="'STAFF_STATUS_REJECTED'">Reject</ng-container>
            <ng-container *ngSwitchDefault>Select</ng-container>
          </ng-container>
        </button>
        <button mat-raised-button color="accent" [matMenuTriggerFor]="actionMenu" class="btn-menu px-4">
          <mat-icon class="white-fg">expand_more</mat-icon>
        </button>
        <mat-menu #actionMenu="matMenu">
          <button mat-menu-item (click)="row.action = 'STAFF_STATUS_SELECTED'">Select</button>
          <button mat-menu-item (click)="row.action = 'STAFF_STATUS_STANDBY'">Standby</button>
          <button mat-menu-item (click)="row.action = 'STAFF_STATUS_HIDDEN_REJECTED'">Hidden Reject</button>
          <button mat-menu-item (click)="row.action = 'STAFF_STATUS_REJECTED'">Reject</button>
        </mat-menu>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Action" [width]="60" [sortable]="false" [resizeable]="false" [draggable]="false" [canAutoResize]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          [matMenuTriggerData]="{row: row}"
          class="more-vert"
          [disabled]="editable !== 1">
          <mat-icon class="material-icons">more_vert</mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-row="row">
      <button mat-menu-item (click)="sendMessage(row)">
        <mat-icon>mail_outline</mat-icon>
        <span>Send Message</span>
      </button>

      <button mat-menu-item (click)="chatMessage(row)">
        <mat-icon>chat</mat-icon>
        <span>Chat</span>
      </button>

      <button mat-menu-item (click)="loginAsUser(row)">
        <mat-icon>vpn_key</mat-icon>
        <span>Login as user</span>
      </button>
    </ng-template>
  </mat-menu>

  <!-- CHANGE STATUS SUBMENU -->
  <mat-menu #statusMenu="matMenu">
    <ng-template matMenuContent let-row="row">
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_APPLIED')">Applied</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_STANDBY')">Standby</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_SELECTED')">Selected</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_INVITED')">Invited</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_CONFIRMED')">Confirmed</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_CHECKED_IN')">Checked In</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_CHECKED_OUT')">Checked Out</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_COMPLETED')">Completed</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_INVOICED')">Invoiced</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_PAID')">Paid</button>
      <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_NO_SHOW')">No Show</button>
      <button mat-menu-item>No Pay</button>
      <button mat-menu-item>Other</button>
    </ng-template>
  </mat-menu>
  <!-- / CHANGE STATUS SUBMENU -->
</div>
