<div id="admin-shift-staff-applicants">
    <ngx-datatable class="material striped" [rows]="staffs" [columnMode]="'force'" [headerHeight]="0"
        [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
    
        <ngx-datatable-column name="Thumbnail" prop="ppic_a" [width]="100" [sortable]="false" [canAutoResize]="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <img class="avatar" [src]="getAvatar(value)" (click)="openUser(row, $event)"
                    [ngStyle]="{'border': '3px solid ' + row.staff_status.border_color}"
                    [matTooltip]="row.staff_status.status" />
            </ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column name="Name" prop="name" [sortable]="true" [canAutoResize]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <strong>{{row.name}}</strong>
                <br/>
                <strong>{{row.email}}</strong>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Select" [sortable]="false" [canAutoResize]="false" [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="changeStatus(row, 'STAFF_STATUS_SELECTED')" matTooltip="Select"
                    [disabled]="editable !== 1">
                    <mat-icon>add</mat-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Standby" [sortable]="false" [canAutoResize]="false" [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="changeStatus(row, 'STAFF_STATUS_STANDBY')" matTooltip="Standby"
                    [disabled]="editable !== 1">
                    <mat-icon>flag</mat-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Hidden Reject" [sortable]="false" [canAutoResize]="false" [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="changeStatus(row, 'STAFF_STATUS_HIDDEN_REJECTED')" matTooltip="Hidden Reject"
                    [disabled]="editable !== 1">
                    <mat-icon>block</mat-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Reject" [sortable]="false" [canAutoResize]="false" [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="changeStatus(row, 'STAFF_STATUS_REJECTED')" matTooltip="Reject"
                    [disabled]="editable !== 1">
                    <mat-icon>clear</mat-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column name="Action" [width]="100" [sortable]="false" [resizeable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="more-vert" [disabled]="editable !== 1">
                    <mat-icon class="material-icons">more_vert</mat-icon>
                </button>
                
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>mail_outline</mat-icon>
                        <span>Send Message</span>
                    </button>
                
                    <button mat-menu-item>
                        <mat-icon>vpn_key</mat-icon>
                        <span>Login as user</span>
                    </button>
                
                    <button mat-menu-item>
                        <mat-icon>event_note</mat-icon>
                        <span>View Calender</span>
                    </button>
                
                    <button mat-menu-item>
                        <mat-icon>refresh</mat-icon>
                        <span>Force re-confirmation</span>
                    </button>
                
                    <button mat-menu-item [matMenuTriggerFor]="statusMenu">
                        <mat-icon>edit</mat-icon>
                        <span>Change Status</span>
                    </button>
                
                    <button mat-menu-item (click)="toggleTeamLeader(row)">
                        <mat-icon>person</mat-icon>
                        <span>Toggle Leader</span>
                    </button>
                
                    <button mat-menu-item>
                        <mat-icon>person</mat-icon>
                        <span>Add to presentation</span>
                    </button>
                
                    <button mat-menu-item>
                        <mat-icon>person</mat-icon>
                        <span>Add to submission</span>
                    </button>
                
                    <button mat-menu-item>
                        <mat-icon>insert_drive_file</mat-icon>
                        <span>Complete Reports</span>
                    </button>
                
                    <button mat-menu-item>
                        <mat-icon>clear</mat-icon>
                        <span>Remove</span>
                    </button>
                
                    <button mat-menu-item>
                        <mat-icon>clear</mat-icon>
                        <span>Remove (edit email)</span>
                    </button>
                </mat-menu>
                
                <!-- CHANGE STATUS SUBMENU -->
                <mat-menu #statusMenu="matMenu">
                
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_APPLIED')">Applied</button>
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_STANDBY')">Standby</button>
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_SELECTED')">Selected</button>
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_CONFIRMED')">Confirmed</button>
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_CHECKED_IN')">Checked In</button>
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_CHECKED_OUT')">Checked Out</button>
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_COMPLETED')">Completed</button>
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_INVOICED')">Invoiced</button>
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_PAID')">Paid</button>
                    <button mat-menu-item (click)="changeStatus(row, 'STAFF_STATUS_NO_SHOW')">No Show</button>
                    <button mat-menu-item>No Pay</button>
                    <button mat-menu-item>Other</button>
                
                </mat-menu>
                <!-- / CHANGE STATUS SUBMENU -->
    
            </ng-template>
        </ngx-datatable-column>
    
    </ngx-datatable>
</div>