<div id="experience-container" [ngClass.gt-xs]="'p-0 px-4 p-sm-24'" [ngClass.xs]="'py-4'" fxLayout="column">

    <h2 *ngIf="settings?.profile_experience_msg">{{settings?.profile_experience_msg}}</h2>
  
    <div class="content" fxLayout="column" fxFlex="100">
  
      <div *ngFor="let category of categories" class="profile-box info-box general" fxLayout="column">
  
          <header class="mat-accent-bg">
              <div class="title">{{category.cname == '' ? 'Uncategorised' : category.cname}}</div>
          </header>
  
          <div class="content" fxLayout="row" fxLayoutWrap>
              <button mat-button class="mat-accent new-experience-button" mat-fab (click)="openForm(category)">
                  <mat-icon>add</mat-icon>
              </button>
              <ngx-datatable class="material striped w-100-p" 
                  *ngIf="category?.experience.length > 0"
                  [rows]="category.experience"
                  [columnMode]="'force'" 
                  [headerHeight]="48" 
                  [footerHeight]="56" 
                  [rowHeight]="'auto'" 
                  [scrollbarH]="true">
                  <ngx-datatable-column [name]="heading.hname" prop="data" [sortable]="true" [canAutoResize]="true" *ngFor="let heading of category.headings; let i = index">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <ng-container [ngSwitch]="heading.type">
                              <span *ngSwitchCase="'text'">{{value[i]}}</span>
                              <span *ngSwitchCase="'list'">{{getDisplayValue(value[i], heading.options)}}</span>
                              <span *ngSwitchCase="'date'">{{value[i]}}</span>
                          </ng-container>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Actions" [sortable]="false" [canAutoResize]="true">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          <button mat-icon-button color="accent" (click)="editExperience(category, row)">
                              <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button color="warn" (click)="deleteExperience(category, row)">
                              <mat-icon>delete</mat-icon>
                          </button>
                      </ng-template>
                  </ngx-datatable-column>
              </ngx-datatable>
          </div>
      </div>
  
    </div>
</div>
