<div fxLayout="column">

    <mat-slide-toggle [checked]="user.linked !== null" (change)="changeLinkedStatus($event)">Linked</mat-slide-toggle>
    <div class="mt-16" *ngIf="user.linked !== null">
        <p *ngIf="linkStatus">
            {{ linkStatus }}
        </p>
        <div class="mat-elevation-z2">
            <ng-container *ngFor="let link of links; let last = last">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="p-12">
                    <span>{{link.company}}</span>
                    <ng-container>
                        <a *ngIf="!link.approved; else approvedBlock" href="javascript:void(0)" (click)="approveCompany.next(link.id)">Approve</a>
                        <ng-template #approvedBlock>
                            <span class="green-fg">Approved</span>
                        </ng-template>
                    </ng-container>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </div>
    </div>
</div>
