<div class="nav h-100-p" fxLayout="row" fxLayoutAlign="start start">
    
    <!-- SIDENAV -->
    <div class="sidenav" fxFlex="200px">
        <div fusePerfectScrollbar class="pt-16">

            <!-- NAV ITEM -->
            <ng-container *ngFor="let category of categories">
                <div class="nav-item">
                    <a class="nav-link" matRipple (click)="select(category)" 
                        [class.active]="category.id === selectedCategory?.id" >
                        <span>{{category.title}}</span>
                    </a>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
            <!-- / NAV ITEM -->

        </div>
    </div>
    <!-- / SIDENAV -->

    <!-- CONTENT -->
    <div class="content p-24" fxFlex>
        <ng-container [ngSwitch]="selectedCategory?.id">
            <app-users-settings-options *ngSwitchCase="'options'"></app-users-settings-options>
            <app-users-settings-permissions *ngSwitchCase="'permissions'"></app-users-settings-permissions>
        </ng-container>
    </div>
    <!-- / CONTENT -->

</div>