<div class="nav h-100-p" fxLayout="row" fxLayoutAlign="start start">

    <!-- SIDENAV -->
    <div class="sidenav" fxFlex="200px">
        <div fusePerfectScrollbar class="pt-16">

            <!-- NAV ITEM -->
            <ng-container *ngFor="let category of categories">
                <div class="nav-item">
                    <a class="nav-link" matRipple (click)="select(category)" [class.active]="category.id === selectedCategory?.id">
                        <span>{{category.title}}</span>
                    </a>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
            <!-- / NAV ITEM -->

        </div>
    </div>
    <!-- / SIDENAV -->

    <!-- CONTENT -->
    <div class="content p-24" fxFlex>
        <ng-container [ngSwitch]="selectedCategory?.id">
            <app-users-settings-admin-options [userOptions]="userOptions" (optionChanged)="toggleOption($event)" *ngSwitchCase="'admin-options'"></app-users-settings-admin-options>
            <app-users-settings-admin-permissions [userPermissions]="userPermissions" (optionChanged)="togglePermission($event)" *ngSwitchCase="'admin-permissions'"></app-users-settings-admin-permissions>
            <app-users-settings-staff-options [userOptions]="userOptions" (optionChanged)="toggleOption($event)" *ngSwitchCase="'staff-options'"></app-users-settings-staff-options>
            <app-users-settings-staff-permissions [userPermissions]="userPermissions" (optionChanged)="togglePermission($event)" *ngSwitchCase="'staff-permissions'"></app-users-settings-staff-permissions>
            <app-users-settings-client-options [userOptions]="userOptions" (optionChanged)="toggleOption($event)" *ngSwitchCase="'client-options'"></app-users-settings-client-options>
            <app-users-settings-client-permissions [userPermissions]="userPermissions" (optionChanged)="togglePermission($event)" *ngSwitchCase="'client-permissions'"></app-users-settings-client-permissions>
            <app-users-settings-change-password *ngSwitchCase="'change-password'"></app-users-settings-change-password>
        </ng-container>
    </div>
    <!-- / CONTENT -->

</div>
