@import "~app/core/scss/fuse";

#profile-settings-container {
  .draw-container {
    min-height: 450px !important;

    @include media-breakpoint-down('sm') {
      min-height: 250px !important;
    }

    .draw-sidenav {
      min-width: 160px;
    }
  }

}
