<div id="new-shift" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Create Shift</span>
            </div>
            <div class="h1 mt-16">Create Shift</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <form [formGroup]="shiftForm" novalidate>
            <div class="h2">
                Basic Information
            </div>

            <div class="h2">
                Date & Times
            </div>

            <div class="h2">
                Shift Notes
            </div>
        </form>s

    </div>
    <!-- / CONTENT -->

</div>