<div fxLayout="column">

    <!-- TRACKING MODULE -->
    <div class="info" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Tracking Module</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" [checked]="value(Setting.tracking_enable)"
                (change)="onChange(Setting.tracking_enable, $event)" fxFlex="15"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">
                Enable the tracking module to group and identify shifts by generic text labels
            </div>
        </div>
    </div>
    <!-- / TRACKING MODULE -->

    <button class="btn-add-category" mat-mini-fab color="accent" (click)="addCategory()">
        <mat-icon>add</mat-icon>
    </button>
    <div class="pt-16 nav" fuseperfectscrollbar>
        <div class="nav-item" *ngFor="let category of categories">
            <div matRipple class="nav-link" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="name">
                    {{category.cname}}
                </span>

                <div fxFlex="0 1 auto">
                    <button mat-icon-button (click)="editCategory(category)">
                        <mat-icon class="s-20">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteCategory(category.id)">
                        <mat-icon class="s-20">delete</mat-icon>
                    </button>
                </div>
            </div>

            <mat-divider></mat-divider>
        </div>
    </div>
</div>
