<div fxLayout="column" [ngClass.gt-xs]="'p-24'">

    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <span>Timezone</span>
            <mat-form-field class="ml-16">
                <mat-select [value]="timezone" (valueChange)="onTimezoneChange($event)">
                    <mat-option *ngFor="let item of timezones" [value]="item.value">{{item.label}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <!-- STAFF_EMAIL_INVITATION -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userOptions?.staff_email_invitation?.set" (change)="toggleOption('staff_email_invitation', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Receive job invitations by email
            </div>
        </div>
    </div>
    <!-- / STAFF_EMAIL_INVITATIOMN-->

    <!-- STAFF_EMAIL_NOTIFICATION -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userOptions?.staff_email_notification?.set" (change)="toggleOption('staff_email_notification', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Receive system notifications by email, eg. if you are selected for a shift
            </div>
        </div>
    </div>
    <!-- / STAFF_EMAIL_NOTIFICATION -->

</div>