<div fxLayout="column" class="p-24">

    <!-- STAFF_EMAIL_INVITATION -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userOptions.staff_email_invitation.set" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Receive job invitations by email
            </div>
        </div>
    </div>
    <!-- / STAFF_EMAIL_INVITATIOMN-->

    <!-- STAFF_EMAIL_NOTIFICATION -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userOptions.staff_email_notification.set" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Receive system notifications by email, eg. if you are selected for a shift
            </div>
        </div>
    </div>
    <!-- / STAFF_EMAIL_NOTIFICATION -->

</div>