<div id="register-step5-container">

    <div class="mb-24" *ngIf="settings.profile_video_msg">
        <h3>
            {{settings.profile_video_msg}}
            <span class="secondary-text ml-4" *ngIf="settings.profile_video_required > 0">
                ({{settings.profile_video_required}}&nbsp; {{settings.profile_video_required > 1 ? 'videos' : 'video'}} required)
            </span>
        </h3>
    </div>

    <!-- ADD FILE BUTTON -->
    <div class="file-uploader">
        <input hidden type="file" #fileInput (change)="onUploadVideo($event)" multiple/>
        <button mat-raised-button class="mb-24" color="accent" (click)="fileInput.click()">
            <mat-icon>file_upload</mat-icon>
            <span>Upload</span>
        </button>
    </div>
    <!-- / ADD FILE BUTTON -->

    <div class="group-media ngx-dnd-container" fxLayout="row" fxLayoutWrap ngxDroppable="group" [model]="videos">
        <div class="media ngx-dnd-item" ngxDraggable *ngFor="let video of videos" [model]="video">
            <ng-container [ngTemplateOutlet]="videoTpl" [ngTemplateOutletContext]="{video: video}">
            </ng-container>
        </div>
    </div>

    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button type="button" color="accent" class="mr-12">
            Quit
        </button>

        <button mat-raised-button type="button" color="accent">
            Save & Continue
        </button>
    </div>

</div>

<!-- VIDEO TEMPLATE -->
<ng-template #videoTpl let-video="video">

    <img class="preview" [src]="video.thumbnail" (click)="showVideo(video)">

    <div class="title" fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button (click)="deleteVideo(video)">
            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
        </button>
    </div>
</ng-template>
<!-- / VIDEO TEMPLATE -->
