<div id="register-step7-container" class="p-24">
    <div class="content" fxLayout="column" fxFlex="100">

        <div class="mb-24" *ngIf="settings.profile_work_areas_message">
            <h2>
                {{settings.profile_work_areas_message}}
                <span class="secondary-text ml-4" *ngIf="settings.work_areas_required > 0">
                    ({{settings.work_areas_required}}&nbsp; {{settings.work_areas_required > 1 ? 'choices' : 'choice'}} required)
                </span>
            </h2>
        </div>

        <div *ngFor="let category of workAreas" class="profile-box info-box general" fxLayout="column">

            <header class="mat-accent-bg">
                <div class="title">{{category.cname == '' ? 'Uncategorised' : category.cname}}</div>
            </header>

            <div class="content" fxLayout="row" fxLayoutWrap>
                <div *ngFor="let workarea of category.work_areas" class="info" fxFlex="25">
                    <mat-checkbox [(ngModel)]="workarea.set" (change)="onUpdateWorkArea(workarea)">
                        {{workarea.aname}}
                    </mat-checkbox>
                </div>
            </div>
        </div>

        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button type="button" color="accent" class="mr-12" (click)="quit()">
                Quit
            </button>

            <button mat-raised-button type="button" color="accent" (click)="save()">
                Save & Continue
            </button>
        </div>

    </div>
</div>
