<mat-toolbar class="p-0 mat-elevation-z1">

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button class="toggle-button-navbar mat-icon-button"
                    fuseNavbarVertical="toggleBar" fxHide.gt-md>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="toolbar-separator" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNav">
                <div class="logo ml-16">
                    <img class="logo-icon" [src]="logoUrl">
                </div>
            </div>

        </div>

        <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
            <ng-container *ngIf="!requiredFormData">
                <button mat-icon-button class="mat-icon-button btn--chat mx-12" matTooltip="Chat" matTooltipPosition="below" (click)="showChatTab()">
                    <span *ngIf="unreadCount > 0" class="notification">{{unreadCount}}</span>
                    <mat-icon class="icon">sms</mat-icon>
                </button>
            </ng-container>

            <div class="toolbar-separator"></div>

            <ng-container *ngIf="user">
                <button mat-button [matMenuTriggerFor]="userMenu"  *fuseIfOnDom
                        [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                        class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="avatar" [src]="user.ppic_a">
                        <span class="username mr-12" fxHide fxShow.gt-sm *ngIf="!loggedInSecondary; else secondaryUserBlock">{{user.fname}} {{user.lname}}</span>
                        <ng-template #secondaryUserBlock>
                            <span class="username mr-12" fxHide fxShow.gt-sm>Logged in as {{user.fname}} {{user.lname}}</span>
                        </ng-template>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>
            </ng-container>
            
            <mat-menu #userMenu="matMenu">

                <button mat-menu-item (click)="openProfile()" *ngIf="!requiredFormData">
                    <mat-icon>account_circle</mat-icon>
                    <span>My Profile</span>
                </button>

                <button mat-menu-item class="" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>

            </mat-menu>

        </div>
    </div>
</mat-toolbar>
