<div class="shift-list-wrapper page-layout simple">

    <!-- HEADER -->
    <div class="header p-16 p-sm-24 mat-accent-bg" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms'}}"
            fxLayoutGap.gt-xs="12px" fxLayoutGap.xs="4px" fxLayoutWrap class="action-btns">

            <button mat-raised-button class="mat-white-bg my-4">
                <mat-icon>mail</mat-icon>
                <span>Email</span>
            </button>

            <button mat-raised-button class="mat-white-bg my-4">
                <mat-icon>edit</mat-icon>
                <span>Edit Selected</span>
            </button>

            <button mat-raised-button class="mat-white-bg my-4">
                <mat-icon fontSet="fa" fontIcon="fa-object-group" class="s-18 mr-4"></mat-icon>
                <span>Group</span>
            </button>

            <button mat-raised-button class="mat-white-bg my-4">
                <mat-icon fontSet="fa" fontIcon="fa-object-ungroup" class="s-18 mr-4"></mat-icon>
                <span>Ungroup</span>
            </button>

            <button mat-raised-button class="mat-white-bg my-4">
                <mat-icon>add_to_photos</mat-icon>
                <span>Export</span>
            </button>

            <button mat-raised-button class="mat-white-bg my-4">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </div>

        <!-- SEARCHBAR -->
        
        <!-- / SEARCHBAR -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24 pt-40 pb-56">

        <!-- TABLE -->
        <div *ngIf="shifts" class="shifts-table">

        </div>
        <!-- / TABLE -->

    </div>
    <!-- CONTENT -->
</div>