@import "src/app/core/scss/fuse";

.user-profile-video-gallery-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;

        .mat-dialog-content {
            max-height: 85vh;
        }
    }

}
