<div id="register-step2-container" class="p-24">
    <div class="content" fxLayout="column" fxFlex="100">

        <div *ngFor="let category of attributes" class="profile-box info-box general" fxLayout="column">

            <header class="mat-accent-bg">
                <div class="title">{{category.cname == '' ? 'Uncategorised' : category.cname}}</div>
            </header>

            <div class="content" fxLayout="row" fxLayoutWrap>
                <div *ngFor="let attribute of category.attributes" class="info" fxFlex="25">
                    <mat-checkbox [(ngModel)]="attribute.set" (change)="onUpdateAttribute(attribute)">{{attribute.aname}}</mat-checkbox>
                </div>
            </div>
        </div>

        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button type="button" color="accent" class="mr-12" (click)="quit()">
                Quit
            </button>

            <button mat-raised-button type="button" color="accent" (click)="save()">
                Save & Continue
            </button>
        </div>

    </div>
</div>
