<div class="list new-element mat-elevation-z1">

	<button *ngIf="!formActive" mat-button class="new-element-form-button" (click)="openForm()">
		<div fxLayout="row" fxLayoutAlign="start center">
			<mat-icon class="mat-red-bg">add</mat-icon>
			<span>Add a Work Area</span>
		</div>
	</button>

	<form *ngIf="formActive" class="new-element-form" [formGroup]="form" (submit)="onFormSubmit()" fxLayout="row" fxLayoutAlign="start center"
		fxFlex="1 0 auto" fxLayoutGap="30px">

        <mat-form-field floatPlaceholder="never" fxFlex>
            <input matInput formControlName="ename" #nameInput placeholder="Write a Work Area" required>
        </mat-form-field>

		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="30px">
			<mat-form-field fxFlex floatPlaceholder="never">
				<input 
					type="text" 
					placeholder="Category" 
					aria-label="Number" 
					matInput 
					[formControl]="work_area_cat_id" 
					[matAutocomplete]="auto" required>

				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let category of filteredCategries | async" [value]="category.id">
						{{ category.cname }}
					</mat-option>
				</mat-autocomplete>
			
			</mat-form-field>
        
            <!-- <mat-form-field fxFlex floatPlaceholder="never">
				<ng2-timezone-picker formControlName="php_tz" [timezone]="php_tz" placeholder="select timezone">
				</ng2-timezone-picker>
            </mat-form-field> -->
		</div>

		<button mat-icon-button fxFlex="0 1 auto">
			<mat-icon>check</mat-icon>
		</button>
		<button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()">
			<mat-icon>close</mat-icon>
		</button>
	</form>
</div>