@import "src/app/core/scss/fuse";

.post-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    .mat-dialog-container {
        padding: 0;
        overflow: hidden;

        .mat-toolbar {
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;

        .mat-dialog-content {
            max-height: 85vh;
            max-width: 1200px;
            min-width: 600px;
        }
    }

    .new-post {
        margin-bottom: 0;
        @include mat-elevation(2);

        textarea {
            display: flex;
            flex: 1 0 auto;
            font-size: 13px;
            width: 100%;
            height: 140px;
            border: none;
            padding: 16px;
            resize: vertical;
        }

        .media {
            padding: 16px;

            img, iframe {
                width: 100%;
            }

            a {
                color: inherit;
            }
        }

        .preview {
            position: relative;
            min-height: 40px;

            .doc {
                line-height: 40px;
            }

            img {
                display: block;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 10;
                padding: 0 16px;
                height: 48px;
                line-height: 48px;
                background: rgba(0, 0, 0, 0.54);
                color: #FFF;
                font-size: 15px;

                mat-icon {
                    cursor: pointer;
                    color: #FFF;
                }
            }
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background: #F3F4F5;

            .post-button {
                margin: 0;
                width: 64px;
                min-width: 64px;
                height: 30px;
                line-height: 30px;
                min-height: 30px;
            }
        }
    }

    .box {
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
