.sex-element {
    &.disabled {
        pointer-events: none;
        border-bottom: none;
    }
    
    .sex-value {
        border-bottom: dashed 1px #d0d0d0;
        & :hover {
            cursor: text;
        }
    }
}

.sex-element-form {
    .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-form-field-infix {
        padding: 0;
    }

    .mat-form-field-underline {
        bottom: -5px;
    }
}