<div fxLayout="column">

    <!-- WORK MARKET INTEGRATION -->
    <div class="info" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Work Market Integration</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" [checked]="value(Setting.work_market_enable)"
                (change)="onChange(Setting.work_market_enable, $event)" fxFlex="15"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">
                Enable the Work Market module to pay staff via Work Market
            </div>
        </div>
    </div>
    <!-- / WORK MARKET INTEGRATION -->

</div>
