@import "src/app/core/scss/fuse";

#shifts-export-as-excel-container {

    .content {

        .full-width {
            width: 100%;
        }
    }

    .box {
        margin-bottom: 16px;
        @include mat-elevation(4);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;

            .general {

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                @include media-breakpoint-up('xs') {
                    width: 50%;
                }
            }

        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 4px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}