@import "src/app/core/scss/fuse";

#admin-shift-staff-selected {

    display: grid;
    
    .savatar {

        img {
            width: 50px;
            min-width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 5px;
            margin-right: 12px;
    
            &:hover {
                cursor: pointer;
            }
        }
    }

    .person {
        padding: 4px 0;
        
        .main-info {

            .total {

                &:hover {
                    cursor: pointer;
                }
            }

            .action-button {
                min-width: 40px;
            }

        }

        .additional-info {
            padding: 4px;
            
            .item-line {
                width: 100%;
            }

            .add-payitem-link {

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .pull-right {
        float: right;
    }
}