<div id="admin-shift-staff-selected">

    <div class="p-24" *ngIf="staffs.length === 0">
        No selected staffs
    </div>
    <div class="person" *ngFor="let staff of staffs">
        <div class="main-info" >
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="savatar pr-12" fxLayout="row" fxLayoutAlign="start center"
                    [fxFlex]="staff.staff_status.id === 11 ? '0 1 auto' : ''">
                    <img [src]="getAvatar(staff.ppic_a)" (click)="openUser(staff, $event)"
                        [ngStyle]="{'border': '3px solid ' + staff.staff_status.border_color}"
                        [matTooltip]="staff.staff_status.status" />
                    <span>
                        {{staff.name}}
                        <ng-container *ngIf="staff.company">
                            <br><span class="company" matTooltip="Company">{{staff.company}}</span>
                        </ng-container>
                    </span>
                    <div *ngIf="staff.user_status!=null" class="status" [style.background]="staff.user_status.color"
                        [matTooltip]="staff.user_status.sname"></div>
                </div>
                <ng-container *ngIf="staff.staff_status.id === 11; else default">
                    <div class="reason px-12" fxFlex="1 0 auto">
                        {{staff.replace_reason}}
                    </div>
                </ng-container>
                <ng-template #default>
                    <div class="check-in-out px-12" matTooltip="Check In Time" fxFlex="1 1 80px">
                        <div matTooltip="Check In Time" [style.color]="staff.check_in_color">
                            {{staff.check_in}}
                        </div>
                        <div matTooltip="Check Out Time" [style.color]="staff.check_out_color">
                            {{staff.check_out}}
                        </div>
                    </div>

                    <div class="times-break px-12" fxFlex fxHide.xs>
                        <app-admin-shift-edit-time [staff]="staff" (onTimeChanged)="onTimeChanged($event, staff)"
                            [editable]="editable"></app-admin-shift-edit-time>
                        <app-admin-shift-edit-break [staff]="staff" [editable]="editable">
                        </app-admin-shift-edit-break>
                    </div>

                    <div class="pay-rate px-12" fxFlex>
                        <app-admin-shift-edit-payitems [staff]="staff" [editable]="editable"
                            (onPayItemsChanged)="onPayItemsChanged($event, staff)">
                        </app-admin-shift-edit-payitems>
                    </div>

                    <div class="total px-12" (click)="togglePayItemsView(staff)" matTooltip="Total" fxFlex>
                        {{staff.pay_items_total !== null ? (staff.pay_items_total | currency) : '-'}}
                    </div>
                </ng-template>

                <div class="action-button" fxFLex>
                    <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="editable !== 1">
                        <mat-icon class="material-icons">more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="sendMessage(staff)">
                            <mat-icon>mail_outline</mat-icon>
                            <span>Send Message</span>
                        </button>

                        <button mat-menu-item (click)="chatMessage(staff)">
                            <mat-icon>chat</mat-icon>
                            <span>Chat</span>
                        </button>
                    
                        <button mat-menu-item (click)="loginAsUser(staff)">
                            <mat-icon>vpn_key</mat-icon>
                            <span>Login as user</span>
                        </button>

                        <button mat-menu-item (click)="openAddUserToPresentationDialog(staff)">
                            <mat-icon>add</mat-icon>
                            <span>Add to presentation</span>
                        </button>
                    
                        <!-- <button mat-menu-item>
                            <mat-icon>refresh</mat-icon>
                            <span>Force re-confirmation</span>
                        </button> -->
                    
                        <button mat-menu-item [matMenuTriggerFor]="statusMenu">
                            <mat-icon>edit</mat-icon>
                            <span>Change Status</span>
                        </button>
                    
                        <button mat-menu-item *ngIf="settings.outsource_enable == 1" (click)="openChangeCompanyDialog(staff)">
                            <mat-icon>open_in_new</mat-icon>
                            <span>Change Company</span>
                        </button>

                        <button mat-menu-item (click)="toggleTeamLeader(staff)">
                            <mat-icon>person</mat-icon>
                            <span>Toggle Leader</span>
                        </button>

                        <button mat-menu-item (click)="addPayItem(staff)">
                            <mat-icon>add</mat-icon>
                            Add Pay Item
                        </button>
                                
                        <button mat-menu-item (click)="remove(staff)">
                            <mat-icon>clear</mat-icon>
                            <span>Remove</span>
                        </button>
                    </mat-menu>
                    
                    <mat-menu #statusMenu="matMenu">
                    
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_APPLIED')">Applied</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_STANDBY')">Standby</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_SELECTED')">Selected</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_INVITED')">Invited</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_CONFIRMED')">Confirmed</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_CHECKED_IN')">Checked In</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_CHECKED_OUT')">Checked Out</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_COMPLETED')">Completed</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_INVOICED')">Invoiced</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_PAID')">Paid</button>
                        <button mat-menu-item (click)="changeStatus(staff, 'STAFF_STATUS_NO_SHOW')">No Show</button>
                        <button mat-menu-item>No Pay</button>
                        <button mat-menu-item>Other</button>
                    
                    </mat-menu>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" class="pl-48" *ngIf="shift.past === 1">
                <div fxLayout="row" fxLayoutAlign="start center" class="rating">
                    <button mat-icon-button (click)="resetRate(staff)">
                        <mat-icon class="s-20">do_not_disturb_on</mat-icon>
                    </button>
                    <star-rating-comp [starType]="'svg'" [numOfStars]="5" [size]="'medium'" [rating]="staff.rating !== null ? staff.rating : 0" [step]="0.5" [showHalfStars]="true"
                        (onRatingChange)="changeRate($event, staff)">
                    </star-rating-comp>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="ontime">On time</span>
                    <mat-slide-toggle class="ml-8" [(ngModel)]="staff.late"
                        (ngModelChange)="setLate($event, staff)">
                        Late
                    </mat-slide-toggle>
                </div>

                <app-admin-shift-edit-performance-note [staff]="staff">
                </app-admin-shift-edit-performance-note>
            </div>

            <div class="additional-info" *ngIf="staff.pay_items_show">
                <div *ngIf="staff.pay_items.length > 0; else noPayItems">
                    <div class="item-line" *ngFor="let item of staff.pay_items"
                        fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="10%">
                            {{item.item_type | capitalize}}
                        </div>
                        <div fxFlex="20%">
                            <app-admin-shift-edit-pay-item-name
                                [staff]="staff" [payItem]="item" [editable]="editable">
                            </app-admin-shift-edit-pay-item-name>
                        </div>
                        <div fxFlex="10%">
                            <app-admin-shift-edit-pay-item-units
                                [staff]="staff" [payItem]="item" [editable]="editable"
                                (onItemChanged)="recalcuatePayItemsTotal(staff)">
                            </app-admin-shift-edit-pay-item-units>
                        </div>
                        <div fxFlex="20%">
                            <app-admin-shift-edit-pay-item-unit-rate
                                [staff]="staff" [payItem]="item" [editable]="editable"
                                (onItemChanged)="recalcuatePayItemsTotal(staff)">
                            </app-admin-shift-edit-pay-item-unit-rate>
                        </div>
                        <div fxFlex="20%">
                            <ng-container *ngIf="item.item_type === 'expense' && item.type === 'staff'">
                                <button mat-icon-button *ngIf="!item.file; else fileBlock" class="pull-right" matTooltip="View / Upload receipt" (click)="selectedPayItem = item; payItemUploader.click()">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <ng-template #fileBlock>
                                    <div fxLayout="row" fxLayoutAlign="end center">
                                        <a target="_blank" [href]="item.file.path">{{item.file.oname}}</a>
                                        <button mat-icon-button matTooltip="Change File" (click)="selectedPayItem = item; payItemUploader.click()">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </div>
                        <div fxFlex="10%">
                            <ng-container *ngIf="item.type === 'staff' && item.item_type === 'expense'">
                                <button mat-icon-button *ngIf="shift.approve_expenses === 1; else iconBlock" class="pull-right" (click)="toggleApproved(item)">
                                    <ng-container [ngSwitch]="item.approved">
                                        <mat-icon *ngSwitchCase="null" matTooltip="Unapproved" class="grey-fg">block</mat-icon>
                                        <mat-icon *ngSwitchCase="0" matTooltip="Rejected" class="red-fg">block</mat-icon>
                                        <mat-icon *ngSwitchCase="1" matTooltip="Approved" class="green-fg">check</mat-icon>
                                    </ng-container>
                                </button>
                                <ng-template #iconBlock>
                                    <ng-container [ngSwitch]="item.approved">
                                        <mat-icon *ngSwitchCase="null" matTooltip="Unapproved" class="grey-fg pull-right">block</mat-icon>
                                        <mat-icon *ngSwitchCase="0" matTooltip="Rejected" class="red-fg pull-right">block</mat-icon>
                                        <mat-icon *ngSwitchCase="1" matTooltip="Approved" class="green-fg pull-right">check</mat-icon>
                                    </ng-container>
                                </ng-template>
                            </ng-container>
                        </div>
                        <div fxFlex="10%">
                            <button mat-icon-button *ngIf="item.type === 'staff'" (click)="removePayItem(staff, item)" class="pull-right" matTooltip="Delete">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <ng-template #noPayItems>
                        No pay items.
                    <a class="add-payitem-link" (click)="addPayItem(staff)">Add</a>
                </ng-template>
            </div>
        </div>
    </div>

    <input type="file" #payItemUploader hidden />
</div>
