<div fxLayout="column">

    <!-- OUTSOURCE MODULE -->
    <div class="info" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Outsource Module</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" [checked]="value(Setting.outsource_enable)"
                (change)="onChange(Setting.outsource_enable, $event)" fxFlex="15"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">
                Enable to allow outsourcing shifts to external companies
            </div>
        </div>
    </div>
    <!-- / OUTSOURCE MODULE  -->

    <div class="box info-box">
        <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="title">Permissisons</div>
        </header>

        <div class="content" fxLayout="column">

            <div fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center" class="w-100-p info">
                <div class="name" fxFlex="25">Post on timeline</div>
                <div fxLayout="row wrap" fxFlex="75" fxLayoutAlign="start center">
                    <mat-slide-toggle color="accent" [checked]="value(Setting.ext_timeline_post)"
                        (change)="onChange(Setting.ext_timeline_post, $event)" fxFlex="20"></mat-slide-toggle>
                    <div class="desc secondary-text" fxFlex="80">
                        Allow outsource user to post on the home timeline
                    </div>            
                </div>
            </div>

            <div fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center" class="w-100-p info">
                <div class="name" fxFlex="25">Comment on timeline posts</div>
                <div fxLayout="row wrap" fxFlex="75" fxLayoutAlign="start center">
                    <mat-slide-toggle color="accent" [checked]="value(Setting.ext_timeline_comment)"
                        (change)="onChange(Setting.ext_timeline_comment, $event)" fxFlex="20"></mat-slide-toggle>
                    <div class="desc secondary-text" fxFlex="80">
                        Allow outsource user to comment on timeline posts
                    </div>            
                </div>
            </div>

        </div>
    </div>

</div>
