<div fxLayout="column" class="p-24">

    <!-- CLIENT_BOOK -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userPermissions?.client_book?.set" (change)="toggleOption('client_book', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow user to request bookings from the calendar
            </div>
        </div>
    </div>
    <!-- / CLIENT_BOOK -->

    <!-- CLIENT_SHIFT_NOTES -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userPermissions?.client_shift_notes?.set" (change)="toggleOption('client_shift_notes', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow user to see shift notes
            </div>
        </div>
    </div>
    <!-- / CLIENT_SHIFT_NOTES -->

    <!-- CLIENT_SHIFT_FILLED -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userPermissions?.client_shift_filled?.set" (change)="toggleOption('client_shift_filled', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow user to see unfilled / filled shift status
            </div>
        </div>
    </div>
    <!-- / CLIENT_SHIFT_FILLED -->

    <!-- CLIENT_SHIFT_CHECKIN -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userPermissions?.client_shift_checkin?.set" (change)="toggleOption('client_shift_checkin', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow access to shift check in and out information
            </div>
        </div>
    </div>
    <!-- / CLIENT_SHIFT_CHECKIN -->

    <!-- CLIENT_STAFF_NAMES -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userPermissions?.client_staff_names?.set" (change)="toggleOption('client_staff_names', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow user to see staff full names
            </div>
        </div>
    </div>
    <!-- / CLIENT_STAFF_NAMES -->

    <!-- CLIENT_STAFF_CHAT -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userPermissions?.client_staff_chat?.set" (change)="toggleOption('client_staff_chat', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow user to chat to staff assigned to their shifts
            </div>
        </div>
    </div>
    <!-- / CLIENT_STAFF_CHAT -->

    <!-- CLIENT_STAFF_EMAIL -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userPermissions?.client_staff_email?.set" (change)="toggleOption('client_staff_email', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow access to staff email address
            </div>
        </div>
    </div>
    <!-- / CLIENT_STAFF_EMAIL -->

    <!-- CLIENT_STAFF_MOB -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userPermissions?.client_staff_mob?.set" (change)="toggleOption('client_staff_mob', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Allow access to staff phone number
            </div>
        </div>
    </div>
    <!-- / CLIENT_STAFF_MOB -->

    <!-- CLIENT_SHIFTS_ALL -->
    <div class="info">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-slide-toggle [checked]="userPermissions?.client_shifts_all?.set" (change)="toggleOption('client_shifts_all', $event)" color="accent" fxFlex="10"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="90">
                Access all shifts belonging to the client
            </div>
        </div>
    </div>
    <!-- / CLIENT_SHIFTS_ALL -->

</div>
