:host {

    #staff-shift-expense-container {
        position: relative;
        min-height: 300px;

        .add-button {
            position: absolute;
            left: 20px;
            top: 20px;
        }

        .expense {
            margin-bottom: 8px;
            padding: 12px 24px;
        }
    }
}
