.field-header-name {
    .field-name:hover {
        cursor: text;
    }
}
.field-header-name-form {
    .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-form-field-infix {
        padding: 0;
    }

    .mat-form-field-underline {
        bottom: -5px;
    }
}