<div class="option-wrapper" *ngIf="category">

    <div class="tracking-box info-box general" fxLayout="column">

        <header class="mat-accent-bg">
            <div class="title">Category</div>
        </header>

        <div class="content" fxLayout="column" fxLayoutAlign="start start">
            <div class="info-line" fxLayout="row" fxLayoutAlign="start center">
                <div class="title">
                    <span class="required">*</span>
                     Name:
                </div>
                <div class="info">
                    <app-tracking-edit-category-name  [category]="category">
                    </app-tracking-edit-category-name>
                </div>
            </div>

            <div class="info-line" fxLayout="row" fxLayoutAlign="start center">
                <div class="title">
                    <span class="required">*</span>
                    Staff:
                </div>
                <div class="info">
                    <app-tracking-edit-category-staff [category]="category">
                    </app-tracking-edit-category-staff>
                </div>
            </div>

            <div class="info-line" fxLayout="row" fxLayoutAlign="start center">
                <div class="title">
                    <span class="required">*</span>
                    Client:
                </div>
                <div class="info">
                    <app-tracking-edit-category-client [category]="category">
                    </app-tracking-edit-category-client>
                </div>
            </div>

            <div class="info-line" fxLayout="row" fxLayoutAlign="start center">
                <div class="title">
                    Options:
                </div>
                <div class="info">
                    <mat-checkbox class="example-margin" [(ngModel)]="category.required">Required at shift creation</mat-checkbox>
                </div>
            </div>
        </div>
    </div>

    <div class="tracking-box info-box general" fxLayout="column">

        <header class="mat-accent-bg">
            <div class="title">Options</div>
        </header>

        <div class="content p-24 ps ps--active-y" fxLayout="column" fxLayoutAlign="start start">

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap class="action-btns" fxFill>
            
                <!-- SEARCH -->
                <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                    <label for="search" class="mr-8">
                        <mat-icon>search</mat-icon>
                    </label>
                    <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
                        <input matInput id="search" #searchInput placeholder="Search for anything" (keyup)='updateFilter(searchInput.value)'>
                    </mat-form-field>
                </div>
                <!-- / SEARCH -->
            
                <!-- NEW RATING BUTTON-->
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" class="mb-16">
                    <app-tracking-add-option (onOptionAdd)="onOptionAdd($event)">
                    </app-tracking-add-option>
                </div>
                <!-- / NEW RATING BUTTON-->

            </div>
            
            <!-- TABLE -->
            <div *ngIf="filteredOptions" class="option-table">
        
                <ngx-datatable 
                    #table 
                    class="material striped" 
                    [rows]="filteredOptions" 
                    [loadingIndicator]="loadingIndicator" 
                    [columnMode]="'force'"
                    [headerHeight]="48" 
                    [footerHeight]="56" 
                    [rowHeight]="'auto'" 
                    [scrollbarH]="true" 
                    [selectionType]="'checkbox'" 
                    [selectAllRowsOnPage]="true"
                    [selected]="selectedOptions" 
                    [reorderable]="reorderable" 
                    [limit]="10" 
                    (select)="onSelect($event)" 
                    (activate)="onActivate($event)">
        
                    <ngx-datatable-column name="Name" prop="oname">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <app-tracking-edit-option-name fxFlex="1 0 auto" [option]="row">
                            </app-tracking-edit-option-name>
                        </ng-template>
                    </ngx-datatable-column>
        
                    <ngx-datatable-column name="Staff Visibility" prop="staff_visibility">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <app-tracking-edit-option-staff fxFlex="1 0 auto" [option]="row">
                            </app-tracking-edit-option-staff>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column 
                        name="Active" 
                        prop="active" 
                        [sortable]="false" 
                        [canAutoResize]="false" 
                        [draggable]="false" 
                        [resizeable]="false" 
                        [headerCheckboxable]="true" >
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <mat-checkbox [(ngModel)]="row.active" (change)="onChangeActive(row)"></mat-checkbox>
                            </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column 
                        [sortable]="false" 
                        [resizeable]="false" 
                        [draggable]="false" 
                        [canAutoResize]="false">
        
                        <ng-template let-row="row" ngx-datatable-cell-template>
        
                            <div fxFlex="0 1 auto">
                                <button mat-icon-button (click)="onRemoveOption(row)">
                                    <mat-icon class="mat-primary-50-bg">delete</mat-icon>
                                </button>
                            </div>
        
                        </ng-template>
        
                    </ngx-datatable-column>
        
                </ngx-datatable>
        
            </div>
            <!-- / TABLE -->
        
        
        </div>
    <!-- CONTENT -->
    </div>

</div>