@import "src/app/core/scss/fuse";

:host {

    .option-wrapper{

        .header{
            background-image: none !important;
        }
        
        .option-table{
            width:100%;
        
            mat-icon{
                border-radius: 50%;
            }
        }
        
        .datatable-checkbox input[type='checkbox'] {
            &:after, &:before {
                width: 16px;
                height: 16px;
            }

            &:checked:before {
                height: 8px;
            }
        }

        .content {
            min-height: 150px;
            
            #add-user-button {
                position: absolute;
                top: 24px;
                right: 12px;
                padding: 0;
                z-index: 99;
            }
        }
        
        .action-btns{
            width: 100%;
        }
    }

    // Tracking boxes
    .tracking-box {
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                    position: relative;
                    padding-left: 8px;

                    span.required {
                        color: #f44336;
                        position: absolute;
                        left: -2px;
                    }
                }

                .info {
                    padding-left: 8px;
                    padding-bottom: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }    
}       