@import "src/app/core/scss/fuse";

#admin-shift-staff-na {
    
    .avatar {
        width: 50px;
        min-width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}