@import "src/app/core/scss/fuse";

:host {
    &.users-chat,
    &[class^="payroll-"],
    &[class^="client-invoices-"] {
        .pane {
            padding: 0;
        }
    }
    .pane {
        @include media-breakpoint('xs') {
            padding: 1em 0;
        }
        @include media-breakpoint-up('xs') {
            padding: 1em;
        }
        @media screen {
            border: 1px solid rgba(197, 198, 203, 0.3);
            border-top: none;
            height: calc(-49px + 100%);
            overflow-y: auto;
        }
    }
}
