<!-- CHAT -->
<div class="chat" fxFlex fxLayout="column">
    <div class="chat-overlay" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        Reading messages...
    </div>

    <!-- CHAT TOOLBAR -->
    <mat-toolbar class="chat-toolbar">

        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="row" fxLayoutAlign="start center">

                <!-- RESPONSIVE CHATS BUTTON-->
                <div mat-button fxHide.gt-md class="responsive-chats-button mat-icon-button mr-16"
                     fuseMatSidenavToggler="chat-left-sidenav"
                     aria-label="chats button">
                    <mat-icon class="s-36">chat</mat-icon>
                </div>
                <!-- / RESPONSIVE CHATS BUTTON-->

                <!-- CHAT CONTACT-->
                <div class="chat-contact" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="thread">
                    <div class="chat-contact-name" fxLayout="column" fxLayoutAlign="center start">
                        <p class="m-0 name">{{thread?.name}}</p>
                        <p class="font-size-14 m-0" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-8">group</mat-icon>{{thread.participant_ids.length}} members
                        </p>
                    </div>
                </div>
                <!-- / CHAT CONTACT-->
            </div>
            <button mat-icon-button aria-label="new user" *ngIf="thread" (click)="addUser.next()">
                <mat-icon>group_add</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <!-- / CHAT TOOLBAR -->

    <!-- CHAT CONTENT -->
    <div id="chat-content" fxFlex fusePerfectScrollbar (onScrollTop)="detectScrollTop($event)">

        <!-- CHAT MESSAGES -->
        <div class="chat-messages">

            <!-- MESSAGE -->
            <div fxLayout="row" *ngFor="let message of messages" class="message-row"
                 [ngClass]="{'user': message.sender_id == authenticatedUser.id}">

                <img *ngIf="message.sender_id != authenticatedUser.id"
                     [src]="getParticipant(message.sender_id)?.ppic_a || (getParticipant(message.sender_id)?.sex === 'male'? 'https://staffconnect.net/images/nopic_thumb_male.jpg' : 'https://staffconnect.net/images/nopic_thumb_female.jpg')"
                     class="avatar"
                     [alt]="getParticipant(message.sender_id)?.fname + ' ' + getParticipant(message.sender_id)?.lname"/>

                <img *ngIf="message.sender_id == authenticatedUser.id" class="avatar" [src]="getParticipant(authenticatedUser.id)?.ppic_a || (getParticipant(authenticatedUser.id)?.sex === 'male'? 'https://staffconnect.net/images/nopic_thumb_male.jpg' : 'https://staffconnect.net/images/nopic_thumb_female.jpg')">

                <div class="bubble">
                    <div class="message">{{message.content}}</div>
                    <div>
                        <div class="time secondary-text pull-left">{{message.created_at | date:'medium'}}</div>
                        <mat-icon class="pull-right font-size-16 h-16 w-16 mt-8 ml-12" *ngIf="message.read && message.sender_id === authenticatedUser.id">done</mat-icon>
                    </div>
                </div>

            </div>
            <!-- / MESSAGE -->
        </div>
        <!-- CHAT MESSAGES -->
    </div>
    <!-- / CHAT CONTENT -->

    <!-- CHAT FOOTER -->
    <div class="chat-footer" fxLayout="row" fxLayoutAlign="center center">
        <span class="typing" *ngIf="typingUsers.length > 0">{{getTypingText()}}</span>
        <!-- REPLY FORM -->
        <form #replyForm="ngForm"
              (ngSubmit)="reply($event)"
              (keyup.enter)="reply($event)"
              fxFlex class="reply-form"
              fxLayout="row"
              fxLayoutAlign="start center">

            <mat-form-field class="" fxFlex floatPlaceholder="never">
                <textarea
                    matInput 
                    #replyInput
                    debounce
                    [delay]="2000"
                    ngModel
                    placeholder="Type and hit enter to send message"
                    (onValueChange)="stopTyping()"
                    (keyup)="continueTyping()" 
                    (blur)="updatePendingMessage.next(replyForm.form.value.message)" 
                    name="message"></textarea>
            </mat-form-field>

            <button mat-fab class="" type="submit" [disabled]="!replyForm.form.value.message" aria-label="Send message">
                <mat-icon>send</mat-icon>
            </button>

        </form>
        <!-- / REPLY FORM -->
    </div>
    <!-- / CHAT FOOTER-->
</div>
<!-- / CHAT -->
