:host {

    /deep/ .mat-form-field-wrapper {
        padding-bottom: unset;
    }

    /deep/ .mat-form-field-infix {
        border-top: unset;
    }

    /deep/ .mat-form-field-underline {
        bottom: unset;
    }

    .new-wallet {
        border-radius: 2px;
        background-color: #EEF0F2;
    }
}