<div class="dialog-content-wrapper">
  <div mat-dialog-content>
    <h1 mat-dialog-title>Add {{data.user.fname}} {{data.user.lname}} to {{data.shift.title}}</h1>
    <fieldset>
      <legend>{{data.shift.location}} {{data.shift.shift_start | date: 'y/MM/d'}}</legend>
      <div>
        <table class="w-100-p">
          <thead>
            <th>Role</th>
            <th>Time</th>
            <th>Required</th>
            <th>Selected</th>
            <th>Status</th>
            <th>Assign</th>
          </thead>
          <tbody>
            <tr *ngFor="let role of data.roles">
              <td>{{role.rname}}</td>
              <td>{{role.times}}</td>
              <td class="text-center">{{role.num_required}}</td>
              <td class="text-center">{{role.num_selected}}</td>
              <td class="text-center">
                <span class="mr-4" [class]="role.available ? 'red-fg' : 'green-fg'">{{role.available ? role.available : 'Available'}}</span>
                <span [class.black-fg]="role.warning">{{role.warning}}</span>
              </td>
              <td class="text-center">
                <button class="grey-300-bg" mat-icon-button matTooltip="Invite" (click)="doAction(role, 'invite')">
                  <mat-icon>group_add</mat-icon>
                </button>
                <button class="grey-300-bg" mat-icon-button matTooltip="Select" (click)="doAction(role, 'select')">
                  <mat-icon>add</mat-icon>
                </button>
                <button class="grey-300-bg" mat-icon-button matTooltip="Standby" (click)="doAction(role, 'standby')">
                  <mat-icon>flag</mat-icon>
                </button>
                <button class="grey-300-bg" mat-icon-button matTooltip="Apply" (click)="doAction(role, 'apply')">
                  <mat-icon>done</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
  </div>
</div>
