.ratings-wrapper{
    .header{
        background-image: none !important;
    }
    .ratings-table{
        width:100%;
    }
    .datatable-checkbox input[type='checkbox'] {
        &:after, &:before {
            width: 16px;
            height: 16px;
        }

        &:checked:before {
            height: 8px;
        }
    }

    .content {
        min-height: 150px;
        
        #add-user-button {
            position: absolute;
            top: 24px;
            right: 12px;
            padding: 0;
            z-index: 99;
        }
    }    
}       