<button *ngIf="!formActive" mat-icon-button (click)="openForm()"  matTooltip="Add a rating">
	<mat-icon class="mat-red-bg white-fg">add</mat-icon>
</button>

<div class="list mat-elevation-z1 new-field">
	<form *ngIf="formActive" class="new-field-form" [formGroup]="form" (submit)="onFormSubmit()" fxLayout="row" fxLayoutAlign="start center"
		fxFlex="1 0 auto">

		<mat-form-field floatPlaceholder="never" fxFlex>
			<input matInput formControlName="rname" #nameInput placeholder="Write a Field Name" required>
		</mat-form-field>

		<button mat-icon-button fxFlex="0 1 auto">
			<mat-icon>check</mat-icon>
		</button>
		<button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()">
			<mat-icon>close</mat-icon>
		</button>
	</form>
</div>
	
	