<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">{{dialogTitle}}</span>
          <button mat-button class="mat-icon-button"
                  (click)="dialogRef.close()"
                  aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

      <form name="eventForm" [formGroup]="eventForm" class="event-form w-100-p" fxLayout="column" fxFlex>

          <mat-form-field class="w-100-p">
              <input matInput
                     name="title"
                     formControlName="title"
                     placeholder="Title"
                     required>
          </mat-form-field>

          <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

              <mat-form-field fxFlex>
                  <input matInput
                         class="background-color-input"
                         name="background color"
                         formControlName="backgroundColor"
                         placeholder="Background color"
                         [colorPicker]="eventForm.get('backgroundColor').value"
                         cpWidth="290px"
                         [cpPresetColors]="presetColors"
                         [style.background]="eventForm.get('backgroundColor').value"
                         (colorPickerChange)="eventForm.patchValue({backgroundColor: $event})"/>
              </mat-form-field>

          </div>

          <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="start" class="mb-16">

              <mat-form-field class="mr-sm-24" fxFlex>
                  <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date"
                         [max]="eventForm.get(['end', 'date']).value"
                         name="start"
                         formControlName="date"
                         required>
                  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="no-errors-spacer" fxFlex mat-no-float>
                  <input matInput name="start_time" formControlName="time" placeholder="Start Time" [textMask]="startMask">
                  <mat-error *ngIf="eventForm?.get(['start', 'time'])?.errors?.earlierThanEndDate">
                    Start Date/Time must occur earlier than End Date/Time.
                  </mat-error>
                  <mat-error *ngIf="eventForm?.get(['start', 'time'])?.errors?.validTimeFormat">
                    Invalid format.
                  </mat-error>
              </mat-form-field>

          </div>

          <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="end">

              <mat-form-field class="mr-sm-24" fxFlex>
                  <input matInput [matDatepicker]="endDatePicker" placeholder="End Date"
                         [min]="eventForm.get(['start', 'date']).value"
                         name="end"
                         formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="no-errors-spacer" fxFlex mat-no-float>
                  <input matInput name="end_time" formControlName="time" placeholder="End Time" [textMask]="endMask">
                  <mat-error *ngIf="eventForm?.get(['end', 'time'])?.errors?.laterThanStartDate">
                    End Date/Time must occur later than Start Date/Time.
                  </mat-error>
                  <mat-error *ngIf="eventForm?.get(['end', 'time'])?.errors?.validTimeFormat">
                    Invalid format.
                  </mat-error>
              </mat-form-field>

          </div>
      </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

      <button *ngIf="action !=='edit'"
              mat-raised-button
              (click)="dialogRef.close(eventForm)"
              color="accent"
              [disabled]="eventForm.invalid"
              aria-label="SAVE">
          SAVE
      </button>

      <button *ngIf="action ==='edit'"
              mat-raised-button
              (click)="dialogRef.close(eventForm)"
              color="accent"
              [disabled]="eventForm.invalid"
              aria-label="SAVE">
          SAVE
      </button>

      <button *ngIf="action ==='edit'"
              mat-raised-button
              color="warn"
              (click)="dialogRef.close()"
              aria-label="Cancel"
              matTooltip="Cancel">
          CANCEL
      </button>
  </div>
</div>
