<mat-form-field fxFlex="100">

    <mat-chip-list #chipList>
        <ng-container *ngFor="let tag of selected">
            <mat-chip  *ngIf="tag" (remove)="remove(tag)">
                {{tag[labelBy]}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </ng-container>
        <input #chipInput
               [placeholder]="placeholder"
               [matChipInputFor]="chipList"
               [matChipInputAddOnBlur]="false"
               (matChipInputTokenEnd)="addNew($event)"
               [matAutocomplete]="auto"
               [disabled]="disabled">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="add($event)">
        <mat-option *ngFor="let tag of sourceFiltered()" [value]="tag">
            <span>{{tag[labelBy]}}</span>
        </mat-option>
    </mat-autocomplete>

</mat-form-field>