<div class="dialog-content-wrapper">
    <ng-container *ngIf="forms.length === 0; else formBlock">
        <div class="heading secondary-text mat-primary-100-bg" *ngIf="data.heading">{{data.heading}}</div>
        <h1 mat-dialog-title>{{data.title}}</h1>

        <div mat-dialog-actions>
            <button mat-button [mat-dialog-close]="true">Yes</button>
            <button mat-button [mat-dialog-close]="false" cdkFocusInitial>No</button>
        </div>
    </ng-container>
    <ng-template #formBlock>
        <p class="text-center mb-0">The following must be completed first:</p>
        <div fxLayout="column" fxLayoutAlign="center center">
            <a *ngFor="let form of forms" href="javascript:void(0)" (click)="openForm(form)" class="mt-8">{{form.fname}}</a>
        </div>
    </ng-template>
</div>
