<div class="dialog-content-wrapper">
  <h1 mat-dialog-title>Select shift</h1>
  <form [formGroup]="form">

      <div mat-dialog-content>
          <mat-form-field floatPlaceholder="never" class="w-100-p">
            <mat-select formControlName="shift_id">
              <mat-option *ngFor="let shift of group.shift_options" [value]="shift.id">
                {{shift.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div mat-dialog-actions>
          <button mat-button (click)="saveForm()" cdkFocusInitial>Ok</button>
          <button mat-button [mat-dialog-close]="false">Cancel</button>
      </div>
  </form>
</div>
