#profile-paylevels-container {
    
    fieldset {
        border: 1px solid #dcdcdc;
        border-radius: 2px;
        margin-bottom: 16px;

        legend {
            padding: 0 4px;
        }
    }
}