<div id="settings-forms-container" fxLayout="column">
  <div fxFlex="1 0 auto" fxLayout="column">
    <!-- QUIZ MODULE -->
    <div fxLayout="row wrap" class="mb-8">
      <mat-slide-toggle color="accent" [checked]="value(Setting.quiz_enable)"
                        (change)="onChange(Setting.quiz_enable, $event)" fxFlex="15"></mat-slide-toggle>
      <div class="desc secondary-text" fxFlex="85">
        Enable the quiz module to create and assign scored quizs to staff as requirements for shift applications
      </div>
    </div>
  </div>
  <!-- / QUIZ MODULE -->

</div>
