@import "src/app/core/scss/fuse";

:host {

  #settings-forms-container {
    height: 100%;
  }

  .info {
    margin-bottom: 20px;

    .name {
      font-weight: 400;
    }

    .desc {
      @include media-breakpoint-up('xs') {
      }
    }
  }
}