@import "src/app/core/scss/fuse";

:host {
    
    .staff-content {

        .box {

            header {
                padding: 8px 16px;
            }
        }

        .shift {
            margin-bottom: 24px;

            .shift-title {
                font-size: 20px;

                &:hover {
                    cursor: pointer;
                }
            }

            .add-role {
                cursor: pointer;
            }
        }
    }

    .staff-sidebar {

        @include media-breakpoint-up('lg') {
            padding-left: 32px;
        }

        @include media-breakpoint('sm') {
        }

        .admin-notes {

            .content {

                .notes {

                    .note {
                        padding: 16px 0;
                        width: 100%;
                        margin-bottom: 4px;

                        .avatar {
                            margin-right: 16px;
                        }

                        .message {
                            font-weight: 500;
                        }

                        .time {

                        }
                    }
                }
            }
        }
    }

    .box {
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                    position: relative;
                    padding-left: 8px;

                    span.required {
                        color: #f44336;
                        position: absolute;
                        left: -2px;
                    }
                }

                .info {
                    padding-left: 8px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}