<div id="invoice" class="compact page-layout blank" fxLayout="row">

    <div class="invoice-container" [ngClass.gt-xs]="'px-64 pb-64 pt-20'">
        <!-- INVOICE -->
        <div class="card">

            <div class="header">
                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <div class="info">
                        <div class="overview">Shift Overview</div>
                        <div>
                            <div class="due-date">
                                <span class="title">From:</span>
                                <span class="date">Tuesday 1st Septemper 2018</span>
                            </div>
                            <div class="due-date">
                                <span class="title">To:</span>
                                <span class="date">Saturday 7th Septemper 2018</span>
                            </div>
                        </div>
                    </div>
                    <div class="logo">
                        <img src="assets/images/logos/staffconnect.svg">
                    </div>
                </div>
            </div>

            <div class="content">
                <div *ngFor="let shift of shifts" class="shift">
                    <div class="info">
                        <span class="date">{{shift.date | date: 'mediumDate'}}</span>,
                        <span class="title ml-8">{{shift.title}}</span>
                    </div>
                    <table class="simple invoice-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Shift Time</th>
                                <th>Time In</th>
                                <th>Time Out</th>
                                <th>Total</th>
                                <th>Role</th>
                                <th>Name</th>
                                <th>Signature</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let staff of shift.staffs">
                                <td>
                                    <img [src]="staff.ppic">
                                </td>
                                <td>
                                    {{staff.time}}
                                </td>
                                <td>
                                    {{staff.timeIn}}
                                </td>
                                <td>
                                    {{staff.timeOut}}
                                </td>
                                <td>
                                    {{staff.total}} hrs
                                </td>
                                <td>
                                    {{staff.role}}
                                </td>
                                <td>
                                    {{staff.name}}
                                </td>
                                <td>
                                    {{staff.signature}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="simple invoice-table-footer">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>