@import "src/app/core/scss/fuse";

:host {

    #about {

        .about-content {

            .general {

            }

            .full {

            }

            .rating {
                border-color: #ccc;
                border-radius: 2px;
                margin-bottom: 12px;
                margin-right: 12px;
                width: 170px;

                legend {
                    padding: 0 10px;
                }

                button {
                    margin-right: -8px;
                    mat-icon {
    
                        &:hover {
                            color: #f44336;
                        }
                    }
                }

                star-rating-comp {
                    margin-top: 6px;
                }
            }
        }

        .about-sidebar {
            padding-left: 32px;

            @include media-breakpoint('sm') {
                padding: 8px
            }

            .admin-notes {

                .see-all-button {
                    &:hover {
                        cursor: pointer;
                    }

                    &.disabled {
                        pointer-events: none;
                    }
                }

                .content {
                    .notes {

                        .note {
                            padding: 16px 0;

                            .avatar {
                                margin-right: 16px;
                            }

                            .username {
                                font-weight: 500;
                                color: mat-color($accent)
                            }

                            .message {
                                font-weight: 500;
                            }

                            .time {
                            }

                            .delete-note {
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Profile boxes
    .profile-box {
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                    position: relative;
                    padding-left: 8px;

                    span.required {
                        color: #f44336;
                        position: absolute;
                        left: -2px;
                    }
                }

                .info {
                    padding-left: 8px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}