<div id="about" class="p-24" fxLayout="row" fxLayoutWrap>

    <div class="about-content"
        fxLayout="column"
        [fxFlex]="(currentUser.lvl == 'owner' || currentUser.lvl == 'admin') ? 65 : 100">

        <div fxLayout="row" fxLayoutWrap *ngIf="ratings.length > 0">
            <fieldset class="rating" *ngFor="let rating of ratings">
                <legend>{{rating.rname}}</legend>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button (click)="resetRate(rating)">
                        <mat-icon class="s-20">do_not_disturb_on</mat-icon>
                    </button>
                    <star-rating-comp [starType]="'svg'" [numOfStars]="5" [size]="'medium'" [rating]="rating.score"
                        [step]="0.5" [showHalfStars]="true" (onRatingChange)="changeRate($event, rating)">
                    </star-rating-comp>
                </div>
            </fieldset>
        </div>
        <!-- / RATINGS --> 

        <div class="profile-box info-box general" fxLayout="column" *ngIf="userInfo.lvl == 'owner'">

            <header class="mat-accent-bg">
                <div class="title">Basic Information</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">
                        <span class="required">*</span>
                        First Name
                    </div>
                    <div class="info">
                        <app-users-profile-edit-basic-text-value [element]="userInfo" [field]="'fname'" fxFlex="0 1 auto">
                        </app-users-profile-edit-basic-text-value>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">
                        <span class="required">*</span>
                        Last Name
                    </div>
                    <div class="info">
                        <app-users-profile-edit-basic-text-value [element]="userInfo" [field]="'lname'" fxFlex="0 1 auto">
                        </app-users-profile-edit-basic-text-value>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">Alias</div>
                    <div class="info">
                        <app-users-profile-edit-basic-text-value [element]="userInfo" [field]="'alias'" fxFlex="0 1 auto">
                        </app-users-profile-edit-basic-text-value>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">
                        <span class="required">*</span>
                        Email
                    </div>
                    <div class="info">
                        <app-users-profile-edit-basic-text-value [element]="userInfo" [field]="'email'" fxFlex="0 1 auto">
                        </app-users-profile-edit-basic-text-value>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">
                        <span class="required">*</span>
                        Mobile Number
                    </div>
                    <div class="info">
                        <app-users-profile-edit-basic-text-value [element]="userInfo" [field]="'mob'" fxFlex="0 1 auto">
                        </app-users-profile-edit-basic-text-value>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">Address</div>
                    <div class="info">
                        <app-users-profile-edit-basic-text-value [element]="userInfo" [field]="'address'" fxFlex="0 1 auto">
                        </app-users-profile-edit-basic-text-value>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">City</div>
                    <div class="info">
                        <app-users-profile-edit-basic-text-value [element]="userInfo" [field]="'city'" fxFlex="0 1 auto">
                        </app-users-profile-edit-basic-text-value>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">State</div>
                    <div class="info">
                        <app-users-profile-edit-basic-text-value [element]="userInfo" [field]="'state'" fxFlex="0 1 auto">
                        </app-users-profile-edit-basic-text-value>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">Postal Code</div>
                    <div class="info">
                        <app-users-profile-edit-basic-text-value [element]="userInfo" [field]="'postcode'" fxFlex="0 1 auto">
                        </app-users-profile-edit-basic-text-value>
                    </div>
                </div>
                
                <div class="info-line">
                    <div class="title">
                        <span class="required">*</span>
                        Sex
                    </div>
                    <div class="info">
                        <app-users-profile-edit-sex
                            [element]="userInfo" fxFlex="0 1 auto">
                        </app-users-profile-edit-sex>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">
                        <span class="required">*</span>
                        Date of Birth
                    </div>
                    <div class="info">
                        <app-users-profile-edit-date
                            [userId]="userInfo.id"
                            [element]="userInfo"
                            [field]="'dob'"
                            fxFlex="0 1 auto">
                        </app-users-profile-edit-date>
                    </div>
                </div>

            </div>

        </div>

        <ng-container *ngIf="userInfo.lvl.indexOf('registrant') > -1 || userInfo.lvl == 'staff'">
            <ng-container *ngFor="let item of userInfo.data">
                <ng-container *ngTemplateOutlet="template; context: {$implicit: item}"></ng-container>
            </ng-container>
        </ng-container>

    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="35" *ngIf="currentUser.lvl == 'owner' || currentUser.lvl == 'admin'">

        <div class="profile-box admin-notes" fxLayout="column">

            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Admin Notes</div>
                <div class="more secondary-text">
                    <span (click)="onSeeAllAdminNotes()" class="see-all-button" [class.disabled]="isSeeAllAdminNotes">See All</span>
                </div>
            </header>

            <div class="content">

                <!-- ADMIN NOTE FORM -->
                <form [formGroup]="adminNoteForm" novalidate fxLayout="column">

                    <mat-form-field class="mb-4" floatPlaceholder="never">
                        <textarea matInput placeholder="Write an admin note.." formControlName="note" #adminNoteInput></textarea>
                    </mat-form-field>
                    
                    <div class="mb-4" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="canSavePost">
                        <mat-form-field>
                            <mat-select formControlName="type" placeholder="Note Type">
                                <mat-option *ngFor="let option of noteTypes" [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button
                            mat-raised-button
                            (click)="onPostAdminNote()"
                            class="save-button mat-accent"
                            [disabled]="adminNoteForm.invalid"
                            aria-label="POST">
                            POST
                        </button>
                    </div>
                </form>
                <!-- / ADMIN NOTE FORM -->

                <!-- ADMIN NOTES LIST -->
                <div class="notes" fxLayout="column">
                    <div class="note" fxLayout="row" fxLayoutAlign="start center" *ngFor="let note of viewedAdminNotes">
                        <img [src]="note.creator_ppic_a" class="avatar" alt="{{note.creator_name}}" />
                
                        <div fxLayout="column" class="w-100-p">
                            
                            <div>
                                <div class="username">{{note.creator_name}}</div>
                                <div *ngIf="!note.editMode">
                                    <strong class="mr-8">{{getNoteType(note.type)}}</strong>
                                    <span class="message">{{note.note}}</span>
                                </div>

                                <div *ngIf="note.editMode">
                                    <mat-form-field class="w-100-p">
                                        <textarea matInput [(ngModel)]="noteTemp.note"></textarea>
                                    </mat-form-field>
                                
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="noteTemp.type" placeholder="Type">
                                                <mat-option *ngFor="let option of noteTypes" [value]="option.value">
                                                    {{option.label}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                
                                        <button mat-raised-button color="accent" (click)="onUpdateAdminNote(note)" [disabled]="!noteTemp.note">Update</button>
                                        <button mat-raised-button color="accent" (click)="onCancelEditAdminNote(note)">Cancel</button>
                                    </div>
                                
                                </div>
                            </div>

                            <div *ngIf="!note.editMode">
                                <span class="time secondary-text mr-8">{{note.updated_at | date: 'medium'}}</span>
                                <span class="delete-note mr-8" (click)="onEditAdminNote(note)">Edit</span>
                                <span class="delete-note" (click)="onDeleteAdminNote(note)">Delete</span>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- / ADMIN NOTES LIST -->
                
                
            </div>

        </div>

    </div>

</div>

<ng-template #template let-item>
    <div *ngIf="item.cname" class="profile-box info-box" fxLayout="column">
        <header class="mat-accent-bg">
            <div class="title">{{item.cname}}</div>
        </header>
        
        <div class="content">
            <ng-container *ngFor="let item of item.elements">
                <ng-container *ngTemplateOutlet="template; context: {$implicit: item}"></ng-container>
            </ng-container>
        </div>
    </div>

    <div *ngIf="item.ename" class="info-line">
        <ng-container *ngIf="item.ename.indexOf('id') == -1">
            <div class="title">
                <span *ngIf="item.visibility == 'required'" class="required">*</span>
                {{item.ename}}
            </div>
            <div class="info">
                <ng-container *ngIf="item.etype == 'list'">
                    <app-users-profile-edit-list-value
                        [userId]="userInfo.id"
                        [element]="item"
                        fxFlex="0 1 auto">
                    </app-users-profile-edit-list-value>
                </ng-container>

                <ng-container *ngIf="item.etype == 'listm'">
                    <app-users-profile-edit-listm-value
                        [userId]="userInfo.id"
                        [element]="item"
                        fxFlex="0 1 auto">
                    </app-users-profile-edit-listm-value>
                </ng-container>

                <ng-container *ngIf="!['list', 'listm'].includes(item.etype)">
                    <app-users-profile-edit-date *ngIf="item.ename == 'Date of Birth'"
                        [userId]="userInfo.id"
                        [element]="item"
                        [field]="'data'"
                        fxFlex="0 1 auto">
                    </app-users-profile-edit-date>

                    <app-users-profile-edit-text-value *ngIf="item.ename != 'Date of Birth'"
                        [userId]="userInfo.id"
                        [element]="item"
                        fxFlex="0 1 auto">
                    </app-users-profile-edit-text-value>
                </ng-container>

            </div>
        </ng-container>
    </div>
</ng-template>