<div id="billing-container" [ngClass.gt-xs]="'p-24'">
    <fieldset class="card" *ngIf="cardFetched">
        <legend>
            Credit Card
        </legend>

        <p *ngIf="!showForm && !haveCard">
          {{message}}
        </p>

        <form [formGroup]="form" class="p-8" *ngIf="showForm">
            <p>Please enter your credit or debit card details to enable automatic billing.</p>
            <mat-form-field class="w-100-p">
                <input matInput formControlName="name" placeholder="Name">
            </mat-form-field>
            <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
            <button mat-raised-button color="accent" (click)="saveStripeBillCard()" class="mt-12" [disabled]="form.invalid || cardInvalid">Save</button>
        </form>

        <div *ngIf="haveCard">
            <p>Automatic billing is enabled.</p>
            <div class="mb-4">
                <span class="title">Card Number:</span>
                XXXX XXXX XXXX {{cardLast4}}
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px">
                <div>
                    <span class="title">Type:</span>
                    {{cardBrand}}
                </div>
            </div>
            <div class="mt-12">
                <button mat-raised-button color="accent" (click)="update()">Update</button>
            </div>
        </div>
    </fieldset>

    <div class="invoice-datatable mt-48 mb-32" *ngIf="invoices">
        <ngx-datatable #table class="material striped" [rows]="invoices" [loadingIndicator]="isLoading" [columnMode]="'force'"
            [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
            [externalPaging]="true" [count]="total" [offset]="pageNumber" [limit]="pageSize" (page)="onSetPage($event)"
            (activate)="onActivate($event)" [messages]="{emptyMessage: 'No invoices yet.'}">

            <ngx-datatable-column prop="date" name="Date">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value | date: 'y-MM-dd'}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="currency" name="Currency">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value | uppercase }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="total" name="Total">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ total | currency: row.currency.toUpperCase() }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="due" name="Due">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value | date: 'y-MM-dd'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="status" name="Status">
            </ngx-datatable-column>

            <ngx-datatable-column>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a [href]="row.stripe_hosted_url"
                        target="_blank">View / Pay</a>
                    <a [href]="row.stripe_pdf_url" mat-icon-button target="_blank">
                      <mat-icon class="s-20">picture_as_pdf</mat-icon>
                    </a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                    <div class="page-count h-60">
                        Show
                        <mat-form-field class="mx-8">
                            <mat-select (change)="onPageSizeChange($event)" [value]="20">
                                <mat-option *ngFor="let size of pageSizes" [value]="size">{{size}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        entries
                        <span class="mx-48">
                            Showing {{pageSize * offset + 1}} to {{min(pageSize * (offset + 1), rowCount)}} of
                            {{rowCount}} entries
                        </span>
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
                        [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="onSetPage($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
</div>
