<div class="page-layout blank">

    <app-tabs>
        <app-tab [tabTitle]="'Home'" *ngIf="(!formData || formData.length === 0); else formBlock">
            <app-timeline></app-timeline>
        </app-tab>
        <ng-template #formBlock>
            <app-tab [tabTitle]="form.fname" [data]="form" *ngFor="let form of formData">
                <app-form [data]="form"></app-form>
            </app-tab>
        </ng-template>
    </app-tabs>

    <!-- ADMIN VIEW TEMPLATES -->
    <ng-template #usersTpl let-data="data">
        <app-users [data]="data"></app-users>
    </ng-template>

    <ng-template #usersProfileTpl let-data="data">
        <app-users-profile [data]="data"></app-users-profile>
    </ng-template>

    <ng-template #scheduleTpl>
        <app-schedule></app-schedule>
    </ng-template>

    <ng-template #scheduleCalendarTpl>
        <app-schedule-calendar></app-schedule-calendar>
    </ng-template>

    <ng-template #adminShiftListTpl>
        <app-admin-shift-list></app-admin-shift-list>
    </ng-template>

    <ng-template #adminShiftGroupTpl let-data="data">
        <app-admin-shift-group [data]="data"></app-admin-shift-group>
    </ng-template>

    <ng-template #shiftsImportTpl>
        <app-shifts-import></app-shifts-import>
    </ng-template>

    <ng-template #shiftsExportAsExcelTpl>
        <app-shifts-export-as-excel></app-shifts-export-as-excel>
    </ng-template>

    <ng-template #shiftsExportAsPdfTpl>
        <app-shifts-export-as-pdf></app-shifts-export-as-pdf>
    </ng-template>

    <ng-template #usersChatTpl>
        <app-users-chat></app-users-chat>
    </ng-template>

    <ng-template #adminShiftTpl let-data="data">
        <app-admin-shift [data]="data"></app-admin-shift>
    </ng-template>

    <ng-template #newShiftTpl let-data="data">
        <app-new-shift [data]="data"></app-new-shift>
    </ng-template>

    <ng-template #editShiftTpl let-data="data">
        <app-edit-shift [data]="data"></app-edit-shift>
    </ng-template>

    <ng-template #shiftRoleEditTpl let-data="data">
        <app-shift-role-edit [data]="data"></app-shift-role-edit>
    </ng-template>

    <ng-template #settingsTpl>
        <app-settings></app-settings>
    </ng-template>

    <ng-template #trackingTpl let-data="data">
        <app-tracking [data]="data"></app-tracking>
    </ng-template>

    <ng-template #adminGenStaffInvoicesTpl>
        <app-staff-invoices-generation></app-staff-invoices-generation>
    </ng-template>

    <ng-template #adminClientInvoiceListTpl>
        <app-client-invoice-list></app-client-invoice-list>
    </ng-template>

    <ng-template #adminStaffInvoiceListTpl>
        <app-staff-invoice-list></app-staff-invoice-list>
    </ng-template>

    <ng-template #columnMappingTpl>
        <app-column-mapping></app-column-mapping>
    </ng-template>

    <ng-template #importHistoryTpl>
        <app-import-history></app-import-history>
    </ng-template>
    <!-- ADMIN VIEW TEMPLATES -->

    <!-- STAFF VIEW TEMPLATES -->
    <ng-template #staffShiftTpl let-data="data">
        <app-staff-shift [data]="data"></app-staff-shift>
    </ng-template>
    <!-- / STAFF VIEW TEMPLATES -->

    <!-- CLIENT VIEW TEMPLATES -->
    <ng-template #clientShiftListTpl>
        <app-client-shift-list></app-client-shift-list>
    </ng-template>

    <ng-template #clientShiftTpl let-data="data">
        <app-client-shift [data]="data"></app-client-shift>
    </ng-template>

    <ng-template #clientNewBookingTpl>
        <app-client-new-booking></app-client-new-booking>
    </ng-template>
    <!--  / CLIENT VIEW TEMPLATES-->

    <ng-template #formTpl let-data="data">
        <app-form [data]="data"></app-form>
    </ng-template>

    <ng-template #quizTpl let-data="data">
        <app-quiz [data]="data"></app-quiz>
    </ng-template>

    <ng-template #payrollTpl>
        <app-payroll></app-payroll>
    </ng-template>

    <ng-template #generatePayrollTpl>
        <app-generate-payroll></app-generate-payroll>
    </ng-template>

    <ng-template #newMessageTpl let-data="data">
        <app-user-message [data]="data"></app-user-message>
    </ng-template>

    <ng-template #emailTemplatesTpl>
        <app-email-templates></app-email-templates>
    </ng-template>

    <ng-template #payrollDetailTpl let-data="data">
        <app-payroll-detail [data]="data"></app-payroll-detail>
    </ng-template>

    <ng-template #clientsTpl>
        <app-clients></app-clients>
    </ng-template>

    <ng-template #outsourceCompaniesTpl>
        <app-outsource-companies></app-outsource-companies>
    </ng-template>

    <ng-template #clientInvoicesTpl>
        <app-client-invoices></app-client-invoices>
    </ng-template>

    <ng-template #clientInvoicesDetailTpl let-data="data">
        <app-client-invoices-detail [data]="data"></app-client-invoices-detail>
    </ng-template>

    <ng-template #clientInvoiceGenerateTpl>
        <app-client-invoice-generator></app-client-invoice-generator>
    </ng-template>

    <ng-template #reportsUploadsTpl>
        <app-reports-uploads></app-reports-uploads>
    </ng-template>

</div>
