<div class="page-layout blank">

    <app-tabs>
        <app-tab [tabTitle]="'Home'">
            <h3>Home</h3>
            <p>Sed porttitor lectus nibh. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget
            felis porttitor volutpat. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis
            at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl
            tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur non nulla
            sit amet nisl tempus convallis quis ac lectus.</p>
        </app-tab>
    </app-tabs>



    <ng-template #usersTpl>
        <app-users></app-users>
    </ng-template>

    <ng-template #usersProfileTpl let-data="data">
        <app-users-profile [data]="data"></app-users-profile>
    </ng-template>

    <ng-template #usersExportsTpl>
        <app-users-exports></app-users-exports>
    </ng-template>

    <ng-template #usersPresentationsTpl>
        <app-users-presentations></app-users-presentations>
    </ng-template>

    <ng-template #settingsProfileInfoTpl>
        <app-profile-info></app-profile-info>
    </ng-template>

    <ng-template #settingsProfileAttributesTpl>
        <app-profile-attributes></app-profile-attributes>
    </ng-template>

    <ng-template #settingsProfileRatingsTpl>
        <app-profile-ratings></app-profile-ratings>
    </ng-template>

    <ng-template #scheduleTpl>
        <app-schedule></app-schedule>
    </ng-template>

    <ng-template #scheduleCalendarTpl>
        <app-schedule-calendar></app-schedule-calendar>
    </ng-template>

    <ng-template #usersChatTpl>
        <app-users-chat></app-users-chat>
    </ng-template>

    <ng-template #adminShiftTpl let-data="data">
        <app-admin-shift [data]="data"></app-admin-shift>
    </ng-template>

    <ng-template #newShiftTpl let-data="data">
        <app-new-shift [data]="data"></app-new-shift>
    </ng-template>

    <ng-template #shiftRoleEditTpl let-data="data">
        <app-shift-role-edit [data]="data"></app-shift-role-edit>
    </ng-template>

    <ng-template #settingsTpl>
        <app-settings></app-settings>
    </ng-template>

    <ng-template #trackingTpl>
        <app-tracking></app-tracking>
    </ng-template>
</div>
