<div id="admin-shift-staff-standby">

    <ngx-datatable class="material striped" [rows]="staffs"
        [columnMode]="'force'" [headerHeight]="0" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

        <ngx-datatable-column name="Thumbnail" prop="ppic_a" [width]="100" [sortable]="false" [canAutoResize]="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <img class="avatar" [src]="getAvatar(value)"/>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name" prop="name" [sortable]="true" [canAutoResize]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <strong>{{row.name}}</strong><br/>
                <strong>{{row.email}}</strong>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action" [width]="100" [sortable]="false" [resizeable]="false"
            [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="more-vert">
                        <mat-icon class="material-icons">more_horiz</mat-icon>
                    </button>
                
                    <mat-menu #menu="matMenu">
                
                        <button mat-menu-item (click)="select(row)">
                            <mat-icon>add</mat-icon>
                            <span>Select</span>
                        </button>
                
                        <button mat-menu-item (click)="hiddenReject(row)">
                            <mat-icon>block</mat-icon>
                            <span>Hidden Reject</span>
                        </button>

                        <button mat-menu-item (click)="reject(row)">
                            <mat-icon>clear</mat-icon>
                            <span>Reject</span>
                        </button>
                
                    </mat-menu>
                
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>

</div>