<div class="p-12" fusePerfectScrollbar>

    <h1 *ngIf="title">{{title}}</h1>

    <form [formGroup]="form" class="p-24" fxLayout="column" fxLayoutAlign="start">

        <!-- FIRST NAME -->
        <mat-form-field>
            <input matInput placeholder="First name" formControlName="fname" required>
            <mat-error *ngIf="formErrors.fname.required">
                Please enter your first name
            </mat-error>
        </mat-form-field>
        <!-- / FIRST NAME  -->

        <!-- LAST NAME -->
        <mat-form-field>
            <input matInput placeholder="Last name" formControlName="lname" required>
            <mat-error *ngIf="formErrors.lname.required">
                Please enter your last name
            </mat-error>
        </mat-form-field>
        <!-- / LAST NAME -->

        <!-- EMAIL -->
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" type="email" required>
            <mat-error *ngIf="formErrors.email.required">
                Please enter your email address
            </mat-error>
        </mat-form-field>
        <!-- / EMAIL -->

        <!-- PASSWORD -->
        <mat-form-field>
            <input matInput placeholder="Enter a password" formControlName="password" type="password" required>
            <mat-error *ngIf="formErrors.password.required">
                Please create a password
            </mat-error>
        </mat-form-field>
        <!-- / PASSWORD -->

        <!-- MOBILE -->
        <mat-form-field>
            <input matInput placeholder="Mobile number" formControlName="mob" required>
            <mat-error *ngIf="formErrors.mob.required">
                Please enter your mobile number
            </mat-error>
        </mat-form-field>
        <!-- / MOBILE -->

        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button type="button" color="accent" class="mr-12" (click)="quit()">
                Quit
            </button>

            <button mat-raised-button type="button" color="accent" (click)="save()">
                Save & Continue
            </button>
        </div>

    </form>
</div>
