<div id="settings-forms-container" fxLayout="column">
    <div fxFlex="1 0 auto" fxLayout="column">
        <!-- QUIZ MODULE -->
        <div fxLayout="row wrap">
            <mat-slide-toggle color="accent" [checked]="value(Setting.survey_enable)"
                              (change)="onChange(Setting.survey_enable, $event)" fxFlex="15"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">
                Enable the survey module to create and assign scored quizs to staff as requirements for shift applications
            </div>
        </div>
    </div>
    <!-- / QUIZ MODULE -->

</div>
