<div fxLayout="column">

    <!-- SURVEY MODULE -->
    <div class="info" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="start center">
        <div class="name" fxFlex="20">Survey Module</div>
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" [checked]="value(Setting.survey_enable)"
                (change)="onChange(Setting.survey_enable, $event)" fxFlex="15"></mat-slide-toggle>
            <div class="desc secondary-text" fxFlex="85">
                Enable the survey module to create and assign surveys to staff as requirements upon shift completing
            </div>
        </div>
    </div>
    <!-- / SURVEY MODULE -->

</div>
