<div id="admin-shift" class="page-layout simple fullwidth" *ngIf="shift" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-around stretch">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center" fxFlex="grow">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="start start" >
                <div class="h1 mt-16 date">
                    {{shift.shift_start | date: 'EEEE, MMMM d, y, h:mm a'}}
                </div>
                <div class="h1 mt-16 title">
                    {{shift.location}}
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="start end">
                <mat-icon class="s-36 mat-icon material-icons">https</mat-icon>
                <mat-icon class="s-24 mat-icon material-icons">flag</mat-icon>
            </div>
        </div>
        <div class="more-details" fxLayout="column" fxLayoutAlign="center center">
            <a mat-button href="#" target="_blank">More Details</a>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Staff">
                <app-admin-shift-staff [currentUser]="currentUser"></app-admin-shift-staff>
            </mat-tab>

            <mat-tab label="Expenses">
                <app-admin-shift-expenses></app-admin-shift-expenses>
            </mat-tab>

            <mat-tab label="Tracking">
                <app-admin-shift-tracking></app-admin-shift-tracking>
            </mat-tab>

            <mat-tab label="Reports & Uploads">
                <app-admin-shift-reports-uploads></app-admin-shift-reports-uploads>
            </mat-tab>

            <mat-tab label="Castings">
                <app-admin-shift-castings></app-admin-shift-castings>
            </mat-tab>
        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>