@import "~app/core/scss/fuse";

#admin-shift {

  &.page-layout {
    overflow: unset !important;
  }

  .header {
    max-width: inherit !important;
    margin: -1em;
    min-height: 200px;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 25px;

    height: auto !important;
    max-height: inherit !important;


    .name {
      font-size: 34px;
      color: #FFFFFF;

      @include media-breakpoint('sm') {
        margin-bottom: 32px;
      }
    }

  }

  .content {
    flex: 1;

    mat-tab-group {
      height: 100%;

      .mat-tab-body-wrapper {
        flex-grow: 1;
      }
    }
  }

  .tracking-workareas {
    height: 55px;
    overflow: hidden;

    &.show {
      height: 100%;
      overflow: unset;
    }
  }

  .shift-notes /deep/ .fr-quick-insert {
    display: none;
  }

  .btn-chat {
    position: relative;
    .notification {
      position: absolute;
      color: map-get($mat-white, 500);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: map-get($mat-red, 'A700');
      font-size: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1px;
      top: 3px;
      right: 2px;
    }
  }
}
