<div id="timeline" class="p-24" fxLayout="row" fxLayoutWrap>
    <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="70"
        fxFlexOrder.gt-sm="1" fxFlexOrder="2">

        <!--  NEW POST FORM -->
        <div class="box add-post">

            <div class="form" fxFlex>

                <textarea placeholder="Write something.." [(ngModel)]="newPost"></textarea>

                <div *ngIf="preview" class="preview">
                    <img [src]="preview" *ngIf="file.type.indexOf('image') > -1"/>

                    <video controls class="w-100-p" *ngIf="file.type.indexOf('video') > -1">
                        <source [src]="preview">
                    </video>

                    <div *ngIf="file.type.indexOf('video') < 0 && file.type.indexOf('image') < 0"
                        class="ml-8 doc">
                        {{file.name}}
                    </div>

                    <div class="overlay" fxLayout="row" fxLayoutAlign="end">
                        <button mat-icon-button (click)="removeFile()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>

                <footer fxLayout="row" fxLayoutAlign="space-between center">

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <input hidden type="file" #fileInput (change)="onUploadFile($event)"/>
                        <button mat-icon-button aria-label="Add photo" matTooltip="Add File" (click)="fileInput.click()">
                            <mat-icon>photo</mat-icon>
                        </button>

                    </div>

                    <button mat-raised-button color="accent" class="post-button" aria-label="POST"
                        (click)="addPost()">POST</button>
                </footer>

            </div>

        </div>
        <!-- / NEW POST FORM -->

        <mat-divider *ngIf="posts.length > 0"></mat-divider>

        <div class="timeline-item" *ngFor="let post of posts" [class.unapproved]="post.approved === 0">

            <header fxLayout="row" fxLayoutAlign="space-between start">
                <div class="user" fxLayout="row" fxLayoutAlign="start center">
                    <img class="avatar" [src]="post.ppic_a">

                    <div fxLayout="column">
                        <div class="title">
                            <span class="username">{{post.name}}</span>
                        </div>
                        <div class="time">{{post.created_at | date: 'medium'}}</div>
                    </div>
                </div>

                <div *ngIf="post.pin || post.approve || post.edit || post.delete">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">

                        <button mat-menu-item *ngIf="post.pin" (click)="pinPost(post)">
                            <mat-icon>attach_file</mat-icon>
                            <span>{{post.pinned === 0 ? 'Pin' : 'Unpin'}}</span>
                        </button>

                        <button mat-menu-item *ngIf="post.approve" (click)="approvePost(post)">
                            <mat-icon>check</mat-icon>
                            <span>{{post.approved === 0 ? 'Approve' : 'Unapprove'}}</span>
                        </button>

                        <button mat-menu-item *ngIf="post.edit" (click)="editPost(post)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>

                        <button mat-menu-item *ngIf="post.delete" (click)="deletePost(post)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>

                    </mat-menu>
                </div>
            </header>

            <div class="content">
                <div *ngIf="post.content" class="message">
                    {{post.content}}
                </div>

                <div *ngIf="post.thumb" class="media">
                    <ng-container [ngSwitch]="getFileType(post.link)">
                        <video *ngSwitchCase="'video'" controls class="w-100-p">
                            <source [src]="post.link">
                        </video>

                        <a [href]="post.link" *ngSwitchCase="'other'" target="blank">
                            <img  [src]="post.thumb"/>
                        </a>
                    </ng-container>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-button class="like-button" (click)="likePost(post)">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16" [class.liked]="post.liked">favorite</mat-icon>
                            <span>Like</span>&nbsp;<span>({{post.likes}})</span>
                        </span>
                    </button>

                    <button mat-button class="comment-button" (click)="initComments(post)">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16">comment</mat-icon>
                            <span>comments</span>&nbsp;<span>({{post.comments}})</span>
                        </span>
                    </button>
                </div>
            </div>

            <footer fxLayout="column" fxLayoutAlign="start start" *ngIf="post.isCommentsShow">
                <div class="reply p-8" fxLayout="row" fxFlexFill>
                    <img [src]="user.ppic_a" class="avatar" />

                    <form fxFlex>
                        <textarea name="comment" placeholder="Add a comment..."
                            [(ngModel)]="post.newComment" (keydown.enter)="addComment(post)"></textarea>
                        <div class="hint-text">Press Enter to post</div>
                    </form>
                </div>

                <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of post.remarks"
                    [class.unapproved]="comment.approved === 0">
                    <img [src]="comment.ppic_a" class="avatar"/>

                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span class="username">{{comment.name}}</span>
                            <span class="time">{{comment.created_at | date: 'medium'}}</span>
                        </div>
                        <div class="message">
                            {{comment.content}}
                        </div>
                        <div class="actions" fxLayout="row" fxLayoutAlign="space-between center">
                            <button mat-button class="like-button" (click)="likeComment(comment)">
                                <span fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="s-16" [class.liked]="comment.liked">favorite</mat-icon>
                                    <span>Like</span>&nbsp;
                                    <span>({{comment.likes}})</span>
                                </span>
                            </button>
                        </div>
                    </div>

                    <div fxFlex="0 1 auto" *ngIf="comment.approve || comment.edit || comment.delete">
                        <button mat-icon-button [matMenuTriggerFor]="commentMenu">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #commentMenu="matMenu">

                            <button mat-menu-item *ngIf="comment.approve" (click)="approveComment(comment)">
                                <mat-icon>check</mat-icon>
                                <span>{{comment.approved === 0 ? 'Approve' : 'Unapprove'}}</span>
                            </button>

                            <button mat-menu-item *ngIf="comment.edit" (click)="editComment(comment)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>

                            <button mat-menu-item *ngIf="comment.delete" (click)="deleteComment(post, comment)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>

                        </mat-menu>
                    </div>
                </div>

                <a *ngIf="(post.comments > post.remarks.length) && post.remarks && !post.commentsLoading"
                    class="view-more-comments" (click)="getComments(post)">
                    View more comments
                </a>

                <div fxLayout="row" fxLayoutAlign="center" class="w-100-p" *ngIf="post.commentsLoading">
                    <img src="assets/images/etc/spinner.gif" class="spinner"/>
                </div>

            </footer>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" *ngIf="canLoadPosts">
            <button mat-icon-button class="mat-accent-bg" (click)="getPosts()"
                matTooltip="Load more posts" *ngIf="!postLoading">
                <mat-icon class="s-32">keyboard_arrow_down</mat-icon>
            </button>

            <img src="assets/images/etc/spinner.gif" class="spinner" *ngIf="postLoading"/>
        </div>
    </div>

    <div class="timeline-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="30"
        fxFlexOrder.gt-sm="2" fxFlexOrder="1">

        <div class="pin-posts" fxLayout="column">
            <button mat-raised-button *ngFor="let post of pinnedPosts"
                color="accent" class="mb-16"
                (click)="openPinPostDialog(post.post_id)">
                {{post.title}}
            </button>
        </div>

        <div class="box latest-activity" fxLayout="column" *ngIf="!lvl">

            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Notifications</div>
                <div class="more secondary-text">
                    <button mat-icon-button color="accent" (click)="loadNotifications()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
            </header>

            <div class="content" fxLayout="row" fxLayoutWrap>
                <div class="activities">
                    <div class="activity" fxLayout="row" fxLayoutAlign="start start" [class.clickable]="activity.action" *ngFor="let activity of activities" (click)="doAction(activity)">
                        <ng-container *ngIf="isUrl(activity.pic)">
                            <img [src]="activity.pic" class="avatar"/>
                        </ng-container>
                        <ng-container *ngIf="isNumeric(activity.pic)">
                            <div class="numeric-pic">{{activity.pic}}</div>
                        </ng-container>
                        <ng-container *ngIf="!isUrl(activity.pic) && !isNumeric(activity.pic)">
                            <div class="icon-pic"><mat-icon>{{activity.pic}}</mat-icon></div>
                        </ng-container>

                        <div fxLayout="column">
                            <div>
                                <span class="message"> {{activity.text}}</span>
                            </div>
                            <span class="time secondary-text">{{activity.ago || 'Just now'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
