<button *ngIf="!formActive" mat-icon-button (click)="openForm()" matTooltip="Add a category">
	<mat-icon class="mat-red-bg white-fg">add</mat-icon>
</button>

<div class="list new-category mat-elevation-z1">

	<form *ngIf="formActive" class="new-category-form" [formGroup]="form" (submit)="onFormSubmit()" fxLayout="row" fxLayoutAlign="start center"
		fxFlex="1 0 auto">

		<mat-form-field floatPlaceholder="never" fxFlex>
			<input matInput formControlName="cname" #nameInput placeholder="Write a Category Name" required>
		</mat-form-field>

		<button mat-icon-button fxFlex="0 1 auto">
			<mat-icon>check</mat-icon>
		</button>
		<button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()">
			<mat-icon>close</mat-icon>
		</button>
	</form>
</div>