:host {

    mat-icon {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    .new-category {
        border-radius: 2px;
        background-color: #EEF0F2;

        .new-category-form {
            padding: 8px;
            height: 54px;

            > input {
                height: 100%;
                padding: 0 10px;
            }
        }
    }
}
