<div id="group-edit-location">
    <div *ngIf="!formActive"  (click)="openForm()" class="text-field">
        <div class="info" matTooltip="Location" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="mr-8">location_city</mat-icon>
            {{group.location ? group.location : 'Empty'}}
        </div>
    </div>

    <form [formGroup]="form" fxLayout="row" *ngIf="formActive" fxLayoutAlign="start center">
        <mat-icon class="mr-8">location_city</mat-icon>
        <mat-form-field class="location-width">
            <input matInput type="text" #locationInput fxFlex required formControlName="location">
        </mat-form-field>

        <button mat-icon-button fxFlex="0 1 auto" (click)="saveForm()">
            <mat-icon>check</mat-icon>
        </button>

        <button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </form>

</div>