<div fxLayout="row" fxLayoutAlign="start center" *ngIf="!formActive" fxLayoutGap="16px" class="item">
    <div class="name" fxFlex>{{workArea.aname}}</div>
    <div class="timezone w-300">{{getTimezone()}}</div>
    <div fxLayout="row">
        <button mat-icon-button (click)="openForm()">
            <mat-icon class="s-20">edit</mat-icon>
        </button>

        <button mat-icon-button (click)="delete()">
            <mat-icon class="s-20">delete</mat-icon>
        </button>
    </div>
</div>

<form *ngIf="formActive" [formGroup]="form" fxLayout="row" fxLayoutAlign="start center"
    fxFlex="1 0 auto" fxLayoutGap="16px">

    <input type="hidden" formControlName="work_area_cat_id" />

    <mat-form-field floatPlaceholder="never" fxFlex>
        <input matInput formControlName="aname" placeholder="Write an area name" required #nameInput>
    </mat-form-field>

    <mat-form-field floatPlaceholder="never" class="w-300">
        <mat-select formControlName="php_tz" placeholder="Timezone">
            <mat-option *ngFor="let option of timezones" [value]="option.value">
                {{option.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <div fxLayout="row">
        <button mat-icon-button fxFlex="0 1 auto" (click)="saveForm()" [disabled]="form.invalid">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</form>
