:host {

    .item {
        // min-height: 65px;
        padding: 0 16px;
        width: 100%;
        height: 48px;
    }

    .name, .timezone {
        margin-top: 3px;
    }

    form {
        padding: 0 16px;
    }

}

:host(.even) {

    .item {
        background-color: #eeeeee;
    }
}

:host(.odd) {

    .item {
        background-color: #ffffff;
    }
}