<div fxFlex="1 0 auto" *ngIf="!formActive" class="field-header-sex" (click)="openForm()" [class.disabled]="element.editable != '1'">
	<span class="field-sex">{{(!element.sex ? 'Both': element.sex) | uppercase}}</span>
</div>

<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="field-header-sex-form" fxLayout="row" fxFlex="1 0 auto"
	*ngIf="formActive">

	<mat-form-field fxFlex="1 0 auto">
		<mat-select formControlName="sex" placeholder="Sex">
			<mat-option [value]="'Both'">
				Both
			</mat-option>
			<mat-option [value]="'female'">
				Female
			</mat-option>
			<mat-option [value]="'male'">
				Male
			</mat-option>
		</mat-select>
	</mat-form-field>

	<button mat-icon-button fxFlex="0 1 auto">
		<mat-icon>check</mat-icon>
	</button>
	<button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()" type="button">
		<mat-icon>close</mat-icon>
	</button>
</form>