.field-header-sex {
    .field-sex:hover {
        cursor: text;
    }
}
.field-header-sex-form {
    .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-form-field-infix {
        padding: 0;
    }

    .mat-form-field-underline {
        bottom: -5px;
    }
}