<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" class="w-100-p">
  <mat-step>
    <ng-template matStepLabel>Profile</ng-template>
    <app-complete-step1></app-complete-step1>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Skills & Qualifications</ng-template>
    <app-complete-step2></app-complete-step2>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Upload photos</ng-template>
    <app-complete-step3></app-complete-step3>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Upload documents</ng-template>
    <app-complete-step4></app-complete-step4>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Upload videos</ng-template>
    <app-complete-step5></app-complete-step5>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose work areas</ng-template>
    <app-complete-step6></app-complete-step6>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Complete</ng-template>
    <app-complete-step7></app-complete-step7>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="doSubmit()">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<!-- dummy render -->
<router-outlet></router-outlet>
