<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" class="w-100-p mat-elevation-z4">

  <!-- STEP 0  -->
  <mat-step [editable]="false">
    <ng-template matStepLabel>Register</ng-template>
    <app-register-step0></app-register-step0>
  </mat-step>
  <!-- / STEP - 0 -->

  <!-- STEP 1 - PROFILE -->
  <mat-step>
    <ng-template matStepLabel>Profile</ng-template>
    <app-register-step1></app-register-step1>
  </mat-step>
  <!-- / STEP 1 - PROFILE -->

  <!-- STEP 2 - SKILLS & QUALIFICATIONS -->
  <mat-step>
    <ng-template matStepLabel>Skills & Qualifications</ng-template>
    <app-register-step2></app-register-step2>
  </mat-step>
  <!-- / STEP 2 - SKILLS & QUALIFICATIONS -->

  <!-- STEP 3 - UPLOAD PHOTOS -->
  <mat-step>
    <ng-template matStepLabel>Upload photos</ng-template>
    <app-register-step3 [user]="user"></app-register-step3>
  </mat-step>
  <!-- / STEP 3 - UPLOAD PHOTOS -->

  <!-- STEP 4 - UPLOAD DOCUMENTS -->
  <mat-step>
    <ng-template matStepLabel>Upload documents</ng-template>
    <app-register-step4 [user]="user"></app-register-step4>
  </mat-step>
  <!-- / STEP 4 - UPLOAD DOCUMENTS -->

  <!-- STEP 5 - UPLOAD VIDEOS -->
  <mat-step>
    <ng-template matStepLabel>Upload videos</ng-template>
    <app-register-step5 [user]="user"></app-register-step5>
  </mat-step>
  <!-- / STEP 5 - UPLOAD VIDEOS -->

  <!-- STEP 6 - CHOOSE WORK AREAS -->
  <mat-step>
    <ng-template matStepLabel>Choose work areas</ng-template>
    <app-register-step6></app-register-step6>
  </mat-step>
  <!-- / STEP 6 - CHOOSE WORK AREAS -->

  <!-- STEP 7 - COMPLETE -->
  <mat-step>
    <ng-template matStepLabel>Complete</ng-template>
    <app-register-step7></app-register-step7>
  </mat-step>
  <!-- / STEP 7 - COMPLETE -->

</mat-horizontal-stepper>

<router-outlet></router-outlet>
