<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" class="w-100-p">
  <mat-step [editable]="false">
    <ng-template matStepLabel>Register</ng-template>
    <app-register-step1></app-register-step1>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Profile</ng-template>
    <app-register-step2></app-register-step2>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Skills & Qualifications</ng-template>
    <app-register-step3></app-register-step3>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Upload photos</ng-template>
    <app-register-step4></app-register-step4>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Upload documents</ng-template>
    <app-register-step5></app-register-step5>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Upload videos</ng-template>
    <app-register-step6></app-register-step6>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Choose work areas</ng-template>
    <app-register-step7></app-register-step7>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Complete</ng-template>
    <app-register-step8></app-register-step8>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="doSubmit()">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<!-- dummy render -->
<router-outlet></router-outlet>
